- i = 0
- if !@breadcrumbs.nil? and @breadcrumbs.size > 0
	.row
		.span12
			%ul.breadcrumb
				- for link in @breadcrumbs
					%li{:class=> (i==0) ? "home" : "" }
						= (i==0) ? "" : "/"
						%a{:href=>"#"}= link
					- i+=1