%h3.page-title Edit filter
.light-spacer.margin-bottom-50

%form

	.row.margin-bottom-30
		.span3
			.control-group.form-group
				%label Filter name:
				.controls
					%input.input-fit-box{:type=>'text'}
			.control-group.form-group
				%label Opened:
				.controls
					%select.input-fit-box.select-ui
						%option Both
						%option Opened
						%option Not opened
			.control-group.form-group
				%label Paid:
				.controls
					%select.input-fit-box.select-ui
						%option Not available or both
						%option Paid
						%option Not paid
		.span3
			.control-group.form-group
				%label Tags

				.selectable-list.show-6
					- iterator = 0
					- 10.times do
						- iterator = iterator + 1
						
						%label{:for => "selectable_b_#{iterator}"}
							Tagname
							= iterator  
						- if (iterator-1)%3 == 0
							%input.selectable-ui{:type=>'checkbox', :checked=>'checked', :id=>"selectable_b_#{iterator}"}
						- else
							%input.selectable-ui{:type=>'checkbox', :id=>"selectable_b_#{iterator}"}
		.span3
			.control-group.form-group
				%label Providers:

				.selectable-list.show-6
					- iterator = 0
					- 10.times do
						- iterator = iterator + 1
						
						%label{:for => "selectable_c_#{iterator}"}
							Provider
							= iterator  
						- if iterator%3 == 0
							%input.selectable-ui{:type=>'checkbox', :checked=>'checked', :id=>"selectable_c_#{iterator}"}
						- else
							%input.selectable-ui{:type=>'checkbox', :id=>"selectable_c_#{iterator}"}

		.span3
			.control-group.form-group
				%label Other users:
				.controls
					%select.input-fit-box.select-ui
						%option None
			.control-group.form-group
				%label Search term:
				.controls
					%input.input-fit-box{:type=>'text'}

		.clearfix

	.action-buttons
		%a.btn.btn-auto-width.btn-wider{:href=>'#'} Cancel
		%button.btn.btn-primary.btn-wider.btn-auto-width{:type=>'submit'} Save filter
