<div class="step">Step 1 of 2</div>
<div class="sign-up-box">
	<div class="form-body">
	  <form>
	  	<div class="form-group">
		    <label>Please enter email address</label>
		    <input type="text" class="input-icon-email">
		</div>
	    <p class="text-center"><input type="submit" value="Next" class="btn btn-primary btn-wider"></p>
	    <div class="clearfix"></div>
	  </form>
	</div>
</div>