<div class="page-head">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1><%= @title %></h1>
				<div class="buttons">
					<a href="#" class="btn"><i class="icon-white-mail"></i>Mail</a>
					<a href="#" class="btn"><i class="icon-white-profile"></i>Account</a>
					<a href="#" class="btn"><i class="icon-white-settings"></i>Preferences</a>
					<input type="text" class="btn input-icon-white-zoom" value="What are you looking for?" />
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>