<div class="step">Step 2 of 2</div>
<div class="sign-up-container">
    <div class="form-body">
      <form>
      	<div class="form-group password">
	        <label>Password</label>
	        <div class="password-table">
	          <table>
	            <tbody><tr class="letters">
	              <td class="icon"><div><img src="<%= asset_path 'images/key.png' %>"></div></td>
	              <td><input type="text"></td>
	              <td><input type="text" disabled="disabled"></td>
	              <td><input type="text"></td>
	              <td><input type="text" disabled="disabled"></td>
	              <td><input type="text"></td>
	              <td><input type="text" disabled="disabled"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	              <td><input type="text"></td>
	            </tr>
	            <tr class="legend">
	              <td></td>
	              <td>1</td>
	              <td>2</td>
	              <td>3</td>
	              <td>4</td>
	              <td>5</td>
	              <td>6</td>
	              <td>7</td>
	              <td>8</td>
	              <td>9</td>
	              <td>10</td>
	              <td>11</td>
	              <td>12</td>
	              <td>13</td>
	              <td>14</td>
	              <td>15</td>
	              <td>16</td>
	              <td>17</td>
	              <td>18</td>
	              <td>19</td>
	              <td>20</td>
	              <td>21</td>
	              <td>22</td>
	            </tr>
	          </tbody></table>
	          <p><a href="#" class="pull-right password-remind">I forgot my password</a></p>
	          <div class="clearfix"></div>
	        </div>
	    </div>
	    <p class="text-center"><input type="submit" value="Next" class="btn btn-primary btn-wider"></p>
	    <div class="clearfix"></div>
      </form>
    </div>
</div>