<form>
	<div class="providers-list-container">
<div class="accordion" id="accordion1">
                                  <div class="accordion-group providers-group" id="providers-group-1">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider1">  
                        <i class="icon icon-banks"></i> Banks 
                        <span class="counter"><span class="selected">0</span>/<span class="of">43</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider1" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />ACC Bank</label>
                                                        <label class="provider"><input type="checkbox" />Allied Irish Banks</label>
                                                        <label class="provider"><input type="checkbox" />Anglo Irish Bank</label>
                                                        <label class="provider"><input type="checkbox" />Bank of America, National Association</label>
                                                        <label class="provider"><input type="checkbox" />Bank of Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Bank of Montreal Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Bank of Scotland (Ireland) ceased operations</label>
                                                        <label class="provider"><input type="checkbox" />Barclays Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Bear Stearns Bank</label>
                                                        <label class="provider"><input type="checkbox" />Capmark Bank Europe</label>
                                                        <label class="provider"><input type="checkbox" />Citibank Europe</label>
                                                        <label class="provider"><input type="checkbox" />Commerzbank Europe (Ireland)</label>
                                                        <label class="provider"><input type="checkbox" />DePfa Bank</label>
                                                        <label class="provider"><input type="checkbox" />DePfa-Bank Europe</label>
                                                        <label class="provider"><input type="checkbox" />DZ-Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Elavon Financial Services</label>
                                                        <label class="provider"><input type="checkbox" />First Active</label>
                                                        <label class="provider"><input type="checkbox" />Fortis Prime Fund Solutions Bank (Ireland)</label>
                                                        <label class="provider"><input type="checkbox" />Goldman Sachs Bank (Europe)</label>
                                                        <label class="provider"><input type="checkbox" />Goldman Sachs Private Bank</label>
                                                        <label class="provider"><input type="checkbox" />Helaba Dublin Landesbank Hessen-Thüringen International</label>
                                                        <label class="provider"><input type="checkbox" />Hewlett-Packard International Bank</label>
                                                        <label class="provider"><input type="checkbox" />Hypo Public Finance Bank</label>
                                                        <label class="provider"><input type="checkbox" />Intesa Sanpaolo Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Irish Life &amp; Permanent</label>
                                                        <label class="provider"><input type="checkbox" />JP Morgan Bank (Ireland)</label>
                                                        <label class="provider"><input type="checkbox" />KBC Bank Ireland (formerly IIB Bank)</label>
                                                        <label class="provider"><input type="checkbox" />LGT Bank (Ireland)</label>
                                                        <label class="provider"><input type="checkbox" />Merrill Lynch International Bank</label>
                                                        <label class="provider"><input type="checkbox" />Naspa Dublin</label>
                                                        <label class="provider"><input type="checkbox" />National Irish Bank</label>
                                                        <label class="provider"><input type="checkbox" />Pfizer International Bank Europe</label>
                                                        <label class="provider"><input type="checkbox" />PFPC Bank</label>
                                                        <label class="provider"><input type="checkbox" />Postbank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Rabobank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Scotiabank (Ireland)</label>
                                                        <label class="provider"><input type="checkbox" />Ulster Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />UniCredit Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Wachovia Bank International</label>
                                                        <label class="provider"><input type="checkbox" />WestLB Ireland</label>
                                                        <label class="provider"><input type="checkbox" />State Bank of India</label>
                                                        <label class="provider"><input type="checkbox" />WGZ-Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Zurich Bank</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="accordion-group providers-group" id="providers-group-2">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider2">  
                        <i class="icon icon-building-society"></i> Building Society 
                        <span class="counter"><span class="selected">0</span>/<span class="of">3</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider2" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />EBS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />ICS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />Irish Nationwide Building Society</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- popular -->
                  <div class="accordion-group providers-group" id="providers-group-2a">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider2a">  
                        <i class="icon icon-popular-billers"></i> Popular billers
                        <span class="counter"><span class="selected">0</span>/<span class="of">3</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider2a" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />EBS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />ICS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />Irish Nationwide Building Society</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- utility -->
                  <div class="accordion-group providers-group" id="providers-group-2b">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider2b">  
                        <i class="icon icon-utility"></i> Utility
                        <span class="counter"><span class="selected">0</span>/<span class="of">3</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider2b" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />EBS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />ICS Building Society</label>
                                                        <label class="provider"><input type="checkbox" />Irish Nationwide Building Society</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>


                                  <div class="accordion-group providers-group" id="providers-group-3">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider3">  
                        <i class="icon icon-charity"></i> Charity 
                        <span class="counter"><span class="selected">0</span>/<span class="of">5</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider3" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />Concern</label>
                                                        <label class="provider"><input type="checkbox" />Goal</label>
                                                        <label class="provider"><input type="checkbox" />Irish Red Cross</label>
                                                        <label class="provider"><input type="checkbox" />Trócaire</label>
                                                        <label class="provider"><input type="checkbox" />UNICEF</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-4">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider4">  
                        <i class="icon icon-credit-unions"></i> Credit Unions 
                        <span class="counter"><span class="selected">0</span>/<span class="of">184</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider4" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />Abbeyleix Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />An Post Employees Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ardee Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />ASTI Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Athboy Street Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Athenry Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Athlone Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Athy Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ayrfield Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />B &amp; S Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Bailieborough Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Balbriggan Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Baldoyle &amp; Portmarnock Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballaghaderreen &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballivor-Kildalkey Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballina Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballinasloe Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballybay Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballyconnell Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballyfermot Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballygall Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballyhaunis &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballymahon &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballyphehane Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ballyshannon Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Bandon Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Birr Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Blackpool Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Blanchardstown &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Boyle Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Bray Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Bunclody Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Caherdavin &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cahirciveen Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Carlow District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Carrickmacross Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cashel Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cashel-Connemara Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castlebar Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castleblayney Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castlecomer Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castleconnell Ahane Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castledermot Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Castlepollard Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Charleville Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />C.I.E. Employees Dundalk Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Clogherhead Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Clonakilty Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Clondalkin Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Clones Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Clonmel Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Coill Dubh &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cois Sionna Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Comhar Creidmheasa Cholm Cille Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Comhar Creidmheasa Chorca Dhuibhne Teoranta</label>
                                                        <label class="provider"><input type="checkbox" />Comhar Linn INTO Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Coolock-Artane Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cootehill Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Crosshaven-Carrigaline Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Cuchullain Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Derg Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Desmond Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Donabate Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Donore Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Douglas Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Drogheda Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Drumcondra Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />DUBCO Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Duleek Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Dundalk Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Dundrum Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />e-services &amp; communications Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Enniscorthy Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ennistymon &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Farranree Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Faughart Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Fergus Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Fermoy Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Firhouse Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Glanmire &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Glenamaddy Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Gorey Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Gort Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Granard Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Greenhills &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Greystones &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Gurranabraher Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Harold’s Cross &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Health Services Staff Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Inchicore Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kilcullen Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Killorglin Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Killybegs Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kilnamanagh Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kilsaran Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kiltimagh District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kingscourt Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kinsale &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Kinvara &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Lanesboro Ballyleague Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Larkhill &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Leixlip &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Lifford Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Limerick C.I.E. Employees’ Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Lisduggan Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Longford Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Lucan District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Mallow Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Maynooth Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Midleton Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Mitchelstown Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Monaghan Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Monaleen Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Mountmellick Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />M.P.C.C. Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Mulcair Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Mullingar Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Naas Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Naomh Breandán Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Naomh Padraig Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Nenagh Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />New Ross Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />North Longford &amp; Arva Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Oldcastle Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Pearse Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Plassey Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Portarlington Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Portlaoise Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Raheny &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ranelagh Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Rathfarnham &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Rathkeale &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Ringsend &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Roscommon Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Roscrea Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Sandymount Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Sarsfield Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Shankill Ballybrack &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Sheephaven Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Skerries Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Skibbereen Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Slane Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Sligo Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Agnes Employees Federal Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Bernadette’s Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Brendan’s Ballygar Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Brigid’s Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Canice’s Credit Union (Kilkenny)</label>
                                                        <label class="provider"><input type="checkbox" />St Colman’s (Claremorris) Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Colmcille’s (Kells) Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Columba’s District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Declan’s Ashbourne Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Dominic’s Credit Union (Waterford)</label>
                                                        <label class="provider"><input type="checkbox" />St Francis Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Gabriel’s Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Jarlath’s Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St John’s Credit Union (Limerick)</label>
                                                        <label class="provider"><input type="checkbox" />St Joseph’s Aviation Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Joseph’s Mayfield Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Loman’s (Trim) Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Mary’s Navan Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Mary’s Parish Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Patrick’s Credit Union (ESB Staff)</label>
                                                        <label class="provider"><input type="checkbox" />St Paul’s Garda Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />St Raphael’s Garda Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Stillorgan Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Swilly Mulroy Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Swords &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tallaght &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tallow Area Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Templeogue &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />The Victory Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Thomastown Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Thurles Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tipperary Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tralee Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tramore Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Trinity Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Tullamore Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Walkinstown Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Waterford Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Wexford Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Wicklow &amp; District Credit Union</label>
                                                        <label class="provider"><input type="checkbox" />Youghal Credit Union</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-5">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider5">  
                        <i class="icon icon-electricity-gas"></i> Electricity &amp; Gas Suppliers 
                        <span class="counter"><span class="selected">0</span>/<span class="of">4</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider5" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />Airtricity</label>
                                                        <label class="provider"><input type="checkbox" />Bord Gáis Energy</label>
                                                        <label class="provider"><input type="checkbox" />Electric Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Flogas</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-6">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider6">  
                        <i class="icon icon-financial-houses"></i> Financial Institutions 
                        <span class="counter"><span class="selected">0</span>/<span class="of">28</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider6" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />ACC Asset Finance (De Lage Landen (Ireland))</label>
                                                        <label class="provider"><input type="checkbox" />AIB Finance and Leasing</label>
                                                        <label class="provider"><input type="checkbox" />Bank of Ireland Finance</label>
                                                        <label class="provider"><input type="checkbox" />Bank of Scotland</label>
                                                        <label class="provider"><input type="checkbox" />Bord Gáis Finance</label>
                                                        <label class="provider"><input type="checkbox" />BMW Financial Services (Ireland) Limited</label>
                                                        <label class="provider"><input type="checkbox" />Caterpillar Financial Services</label>
                                                        <label class="provider"><input type="checkbox" />CIT Group Finance Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Close Motor Finance</label>
                                                        <label class="provider"><input type="checkbox" />Clydesdale Financial Services</label>
                                                        <label class="provider"><input type="checkbox" />CNH Capital</label>
                                                        <label class="provider"><input type="checkbox" />Creation Financial Services</label>
                                                        <label class="provider"><input type="checkbox" />Deutsche Leasing (Ireland) Limited</label>
                                                        <label class="provider"><input type="checkbox" />Fexco Asset Finance</label>
                                                        <label class="provider"><input type="checkbox" />Fiat Auto Financial Services</label>
                                                        <label class="provider"><input type="checkbox" />Ford Credit Europe</label>
                                                        <label class="provider"><input type="checkbox" />Friends First Finance</label>
                                                        <label class="provider"><input type="checkbox" />GE Money</label>
                                                        <label class="provider"><input type="checkbox" />HFC Bank</label>
                                                        <label class="provider"><input type="checkbox" />Irish Bank Resolution Corporation (IBRC)</label>
                                                        <label class="provider"><input type="checkbox" />KBC Bank Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Lombard Ireland Limited</label>
                                                        <label class="provider"><input type="checkbox" />National Credit Finance</label>
                                                        <label class="provider"><input type="checkbox" />National Irish Asset Finance (part of the Danske Bank group)</label>
                                                        <label class="provider"><input type="checkbox" />permanent tsb Finance</label>
                                                        <label class="provider"><input type="checkbox" />Renault Credit International Banque (RCI)</label>
                                                        <label class="provider"><input type="checkbox" />Volkswagen Bank GmbH</label>
                                                        <label class="provider"><input type="checkbox" />Western Finance</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-7">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider7">  
                        <i class="icon icon-isurance"></i> Isurance Companies 
                        <span class="counter"><span class="selected">0</span>/<span class="of">61</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider7" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />ACE Europe</label>
                                                        <label class="provider"><input type="checkbox" />Acorn Life Limited</label>
                                                        <label class="provider"><input type="checkbox" />AIG Europe Ltd (previously Chartis Insurance)</label>
                                                        <label class="provider"><input type="checkbox" />Allianz P.L.C.</label>
                                                        <label class="provider"><input type="checkbox" />AmTrust International Underwriters Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Anglo Irish Assurance Co. Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Augura Life Ireland Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Aviva Insurance Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Aviva Health Insurance Ireland Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Aviva Life &amp; Pensions Ireland Ltd</label>
                                                        <label class="provider"><input type="checkbox" />AXA Life Europe Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Barclays Assurance (Dublin) Limited</label>
                                                        <label class="provider"><input type="checkbox" />Caledonian Life</label>
                                                        <label class="provider"><input type="checkbox" />Canada Life Assurance (Ireland) Limited</label>
                                                        <label class="provider"><input type="checkbox" />Chartis Insurance Ireland Ltd (see AIG Europe Ltd)</label>
                                                        <label class="provider"><input type="checkbox" />Combined Insurance</label>
                                                        <label class="provider"><input type="checkbox" />DAS Group</label>
                                                        <label class="provider"><input type="checkbox" />Decare Dental Insurance Ireland</label>
                                                        <label class="provider"><input type="checkbox" />ECCU Assurance Company Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Equitable Life Assurance Society</label>
                                                        <label class="provider"><input type="checkbox" />Euro Insurances Limited</label>
                                                        <label class="provider"><input type="checkbox" />FBD Insurance PLC</label>
                                                        <label class="provider"><input type="checkbox" />Friends First Life Assurance Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Genworth Financial (Financial Assurance Co Ltd)</label>
                                                        <label class="provider"><input type="checkbox" />Genworth Financial (Financial Insurance Co Ltd)</label>
                                                        <label class="provider"><input type="checkbox" />Hansard Europe Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Hartford Life Limited</label>
                                                        <label class="provider"><input type="checkbox" />HCC International Insurance Company PLC</label>
                                                        <label class="provider"><input type="checkbox" />HSBC Life (Europe) Ltd</label>
                                                        <label class="provider"><input type="checkbox" />IBRC Assurance Co Ltd (formerly Anglo Irish Assurance)</label>
                                                        <label class="provider"><input type="checkbox" />Intesa Sanpaolo Life Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Irish Life</label>
                                                        <label class="provider"><input type="checkbox" />Irish Life International - See SEB Life International</label>
                                                        <label class="provider"><input type="checkbox" />IPBl Insurance</label>
                                                        <label class="provider"><input type="checkbox" />Laya Healthcare (previously Quinn Healthcare)</label>
                                                        <label class="provider"><input type="checkbox" />Liberty Insurance Ltd (previously Quinn-direct)</label>
                                                        <label class="provider"><input type="checkbox" />London General Insurance Co Ltd</label>
                                                        <label class="provider"><input type="checkbox" />London General Life Co Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Mapfre Asistencia Agency Ireland</label>
                                                        <label class="provider"><input type="checkbox" />MetLife Europe Ltd</label>
                                                        <label class="provider"><input type="checkbox" />New Ireland Assurance Company</label>
                                                        <label class="provider"><input type="checkbox" />New Technology Insurance</label>
                                                        <label class="provider"><input type="checkbox" />Phoenix Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Prudential International Assurance PLC</label>
                                                        <label class="provider"><input type="checkbox" />Quinn-life Direct Limited</label>
                                                        <label class="provider"><input type="checkbox" />Royal London Group</label>
                                                        <label class="provider"><input type="checkbox" />RSA Insurance Ireland Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Scottish Friendly Assurance Society Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Scottish Mutual International Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Scottish Provident Ireland</label>
                                                        <label class="provider"><input type="checkbox" />SEB Life International Assurance Company Ltd</label>
                                                        <label class="provider"><input type="checkbox" />SEB Life (Ireland) Assurance Company Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Skandia Life Ireland Limited</label>
                                                        <label class="provider"><input type="checkbox" />Standard Life Assurance (Ireland) Ltd</label>
                                                        <label class="provider"><input type="checkbox" />St. James Place International</label>
                                                        <label class="provider"><input type="checkbox" />Sun Life Assurance Company of Canada (UK) Ltd.</label>
                                                        <label class="provider"><input type="checkbox" />Travelers Insurance Company Ltd</label>
                                                        <label class="provider"><input type="checkbox" />VHI Healthcare</label>
                                                        <label class="provider"><input type="checkbox" />Zurich International Solutions Europe (Eagle Star European Life Assurance Co Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Zurich Insurance plc</label>
                                                        <label class="provider"><input type="checkbox" />Zurich Life Assurance plc</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-8">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider8">  
                        <i class="icon icon-local"></i> Local Authorities 
                        <span class="counter"><span class="selected">0</span>/<span class="of">42</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider8" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />Athlone Town Council</label>
                                                        <label class="provider"><input type="checkbox" />Bray Town Council</label>
                                                        <label class="provider"><input type="checkbox" />Carlow County Council</label>
                                                        <label class="provider"><input type="checkbox" />Cavan County Council</label>
                                                        <label class="provider"><input type="checkbox" />Clare County Council</label>
                                                        <label class="provider"><input type="checkbox" />Clonmel Borough Council</label>
                                                        <label class="provider"><input type="checkbox" />Cork City Council</label>
                                                        <label class="provider"><input type="checkbox" />Cork County Council</label>
                                                        <label class="provider"><input type="checkbox" />Donegal County Council</label>
                                                        <label class="provider"><input type="checkbox" />Drogheda Borough Council</label>
                                                        <label class="provider"><input type="checkbox" />Dublin City Council</label>
                                                        <label class="provider"><input type="checkbox" />Dun Laoghaire - Rathdown County Council</label>
                                                        <label class="provider"><input type="checkbox" />Dundalk Town Council</label>
                                                        <label class="provider"><input type="checkbox" />Fingal County Council</label>
                                                        <label class="provider"><input type="checkbox" />Galway City Council</label>
                                                        <label class="provider"><input type="checkbox" />Galway County Council</label>
                                                        <label class="provider"><input type="checkbox" />Kerry County Council</label>
                                                        <label class="provider"><input type="checkbox" />Kildare County Council</label>
                                                        <label class="provider"><input type="checkbox" />Kilkenny Borough Council</label>
                                                        <label class="provider"><input type="checkbox" />Kilkenny County Council</label>
                                                        <label class="provider"><input type="checkbox" />Laois County Council</label>
                                                        <label class="provider"><input type="checkbox" />Leitrim County Council</label>
                                                        <label class="provider"><input type="checkbox" />Limerick City Council</label>
                                                        <label class="provider"><input type="checkbox" />Limerick County Council</label>
                                                        <label class="provider"><input type="checkbox" />Longford County Council</label>
                                                        <label class="provider"><input type="checkbox" />Louth County Council</label>
                                                        <label class="provider"><input type="checkbox" />Mayo County Council</label>
                                                        <label class="provider"><input type="checkbox" />Meath County Council</label>
                                                        <label class="provider"><input type="checkbox" />Monaghan County Council</label>
                                                        <label class="provider"><input type="checkbox" />North Tipperary Co Council</label>
                                                        <label class="provider"><input type="checkbox" />Offaly County Council</label>
                                                        <label class="provider"><input type="checkbox" />Roscommon County Council</label>
                                                        <label class="provider"><input type="checkbox" />Sligo Borough Council</label>
                                                        <label class="provider"><input type="checkbox" />Sligo County Council</label>
                                                        <label class="provider"><input type="checkbox" />South Dublin County Council</label>
                                                        <label class="provider"><input type="checkbox" />South Tipperary Co Council</label>
                                                        <label class="provider"><input type="checkbox" />Waterford City Council</label>
                                                        <label class="provider"><input type="checkbox" />Waterford County Council</label>
                                                        <label class="provider"><input type="checkbox" />Westmeath County Council</label>
                                                        <label class="provider"><input type="checkbox" />Wexford Borough Council</label>
                                                        <label class="provider"><input type="checkbox" />Wexford County Council</label>
                                                        <label class="provider"><input type="checkbox" />Wicklow County Council</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-9">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider9">  
                        <i class="icon icon-telecommunication"></i> Telecommunication 
                        <span class="counter"><span class="selected">0</span>/<span class="of">13</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider9" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />3 Ireland </label>
                                                        <label class="provider"><input type="checkbox" />An Post</label>
                                                        <label class="provider"><input type="checkbox" />BT Ireland</label>
                                                        <label class="provider"><input type="checkbox" />eircom</label>
                                                        <label class="provider"><input type="checkbox" />Ericsson - located in Clonskeagh Dublin</label>
                                                        <label class="provider"><input type="checkbox" />Indigo Internet (Subsidiary of eircom)</label>
                                                        <label class="provider"><input type="checkbox" />Ireland On-Line (Subsidiary of BT)</label>
                                                        <label class="provider"><input type="checkbox" />Magnet Entertainment</label>
                                                        <label class="provider"><input type="checkbox" />Meteor (mobile network) (Subsidiary of eircom)</label>
                                                        <label class="provider"><input type="checkbox" />O2 Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Smart Telecom</label>
                                                        <label class="provider"><input type="checkbox" />UPC Ireland </label>
                                                        <label class="provider"><input type="checkbox" />Vodafone Ireland</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                                  <div class="accordion-group providers-group" id="providers-group-10">
                    <div class="accordion-heading">
                      <a class="accordion-toggle group-head btn btn-primary" data-toggle="collapse" data-parent="#accordion1" href="#collapseProvider10">  
                        <i class="icon icon-waste-collection"></i> Waste Collection 
                        <span class="counter"><span class="selected">0</span>/<span class="of">30</span></span>
                  
                      </a>
                    </div>
                    <div id="collapseProvider10" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <div class="pre-scrollable">
                          <div class="provider-select">
                                                        <label class="provider"><input type="checkbox" />Access Waste Recycling</label>
                                                        <label class="provider"><input type="checkbox" />Advanced Environmental Solution</label>
                                                        <label class="provider"><input type="checkbox" />Ardcroney Waste</label>
                                                        <label class="provider"><input type="checkbox" />Ballinrobe Waste</label>
                                                        <label class="provider"><input type="checkbox" />Barna Waste</label>
                                                        <label class="provider"><input type="checkbox" />Cavan Waste</label>
                                                        <label class="provider"><input type="checkbox" />Clean Ireland</label>
                                                        <label class="provider"><input type="checkbox" />Clonmel Waste</label>
                                                        <label class="provider"><input type="checkbox" />Cork Co Co North Rent/Waste</label>
                                                        <label class="provider"><input type="checkbox" />Cork Co Co South Rent/Refuse</label>
                                                        <label class="provider"><input type="checkbox" />Cork Co Co west - waste charges</label>
                                                        <label class="provider"><input type="checkbox" />Country Clean Recycling Ltd</label>
                                                        <label class="provider"><input type="checkbox" />Dublin City Council Env. Waste</label>
                                                        <label class="provider"><input type="checkbox" />Dun L./Rathdown Env. Waste Charges</label>
                                                        <label class="provider"><input type="checkbox" />Ferry Refuse</label>
                                                        <label class="provider"><input type="checkbox" />Kildare Co Co Refuse Chgs</label>
                                                        <label class="provider"><input type="checkbox" />KWD Recycling</label>
                                                        <label class="provider"><input type="checkbox" />Mahon Recycling</label>
                                                        <label class="provider"><input type="checkbox" />McElvaney Waste</label>
                                                        <label class="provider"><input type="checkbox" />Mr Binman</label>
                                                        <label class="provider"><input type="checkbox" />Mr Binman SE</label>
                                                        <label class="provider"><input type="checkbox" />Mulleadys Refuse</label>
                                                        <label class="provider"><input type="checkbox" />Oxigen Env</label>
                                                        <label class="provider"><input type="checkbox" />OZO 24/7 Collect and Recycling</label>
                                                        <label class="provider"><input type="checkbox" />Panda Waste Services</label>
                                                        <label class="provider"><input type="checkbox" />Ryan Brothers Waste</label>
                                                        <label class="provider"><input type="checkbox" />Tag A Bin</label>
                                                        <label class="provider"><input type="checkbox" />Wers Waste</label>
                                                        <label class="provider"><input type="checkbox" />Whites Skip Hire</label>
                                                        <label class="provider"><input type="checkbox" />Wiser Bins</label>
                                                      </div>
                        </div>
                        <div class="provider-search">
                          <input type="text" class="search" placeholder="start typing for search" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div><!-- .providers-list-container -->
           	<div class="providers-list-action-bar">
                <p>
                	<a href="#" class="btn pull-left btn-wider">Cancel</a>
                	<input type="submit" value='Preview list' class="btn btn-primary btn-wider pull-right" />
                	<div class="clearfix"></div>
                </p>
            </div>
                <div class="clearfix"></div>
              </form>
