= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row.margin-bottom-30
			.span12

				.row
					.span6

						%h3.page-title Predefined list of filters
						.light-spacer.margin-bottom-50

						%form

							.row
								%table.table-simple.table-bordered.table-center.table-two-coloured.span6.margin-bottom-30
									%tr
										%td 
											%strong Tag name
										%td.checkbox-column
											%strong Action
									%tr
										%td Received
										%td 
											%label.custom-checkbox{:for=>"check1"}
											%input.checkbox-ui{:id=>"check1",:type=>"checkbox"}
									%tr
										%td Opened
										%td 
											%label.custom-checkbox{:for=>"check2"}
											%input.checkbox-ui{:id=>"check2", :checked => "true", :type=>"checkbox"}
									%tr
										%td Not opened
										%td 
											%label.custom-checkbox{:for=>"check3"}
											%input.checkbox-ui{:id=>"check3",:type=>"checkbox"}
									%tr
										%td Paid
										%td 
											%label.custom-checkbox{:for=>"check4"}
											%input.checkbox-ui{:id=>"check4",:type=>"checkbox"}
									%tr
										%td Not paid
										%td 
											%label.custom-checkbox{:for=>"check5"}
											%input.checkbox-ui{:id=>"check5",:type=>"checkbox"}

							.action-buttons
								.pull-right
									%button.btn.btn-primary.btn-wider.btn-auto-width{:type=>'submit'} Add filters

					.span6

						%h3.page-title Filter from tag
						.light-spacer.margin-bottom-50

						.lead.margin-bottom-0
							%p.margin-bottom-20 Type name of your filter to display on list and tags that define this filter. You can select multiple with pressed ctrl key.

						%form

							.row.margin-bottom-20
								.span3

									.control-group.form-group
										%label Filter name:
										.controls
											%input.input-fit-box{:type=>'text'}
								.span3

									.control-group.form-group
										%label Tags:

										.selectable-list
											- iterator = 0
											- 10.times do
												- iterator = iterator + 1
												
												%label{:for => "selectable_a_#{iterator}"}
													Tagname
													= iterator  
												- if iterator%3 == 0
													%input.selectable-ui{:type=>"checkbox", :checked=>"checked", :id=>"selectable_a_#{iterator}"}
												- else
													%input.selectable-ui{:type=>"checkbox", :id=>"selectable_a_#{iterator}"}
								.clearfix

							.action-buttons
								.pull-right
									%button.btn.btn-primary.btn-wider.btn-auto-width.btn-widest{:type=>'submit'} Create filter
							

		.row
			.span12		

				= render :partial => 'edit_filter'