= render :partial => 'page_head'

.modal.hide.fade.in{:id=>"are_you_sure_dialog", :tabindex=>"-1", :role=>"dialog", :aria=>{:labelledby=>"myModalLabel", :hidden=>"true"}}
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                %h4.modal-title Are you sure?
            .modal-body
                %p Removing address will effect removing all your mail.
            .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
                %button.btn.btn-danger{type: "button"} Yes, remove my address

.main
    .container
        = render :partial => 'breadcrumbs'
        .row
            .span12
                .alert.alert-block.alert-info
                    .alert-content
                        .alert-mask
                        .alert-icon
                        %p
                            You have one unverified address (Hollywell 1, Poppintree Park Lane West)



                %h3.page-title Your Addresses

                .light-spacer

                .lead
                    .row
                        .span9
                            %p We will collect your mail from default address and additional addresses
                        .span3
                            %a.btn.btn-primary.pull-right{:href=>'#'} Add new address
                        .clearfix

                .row

                    %table.table-simple.table-bordered.table-center.table-two-coloured.span12
                        %tr
                            %td{:colspan=>2}
                                %strong Address
                            %td
                                %strong Status
                            %td
                                %strong Action
                        %tr
                            %td
                                %a.circle-delete-button.m-r-md{:href=>'#', :data=>{:toggle=>'modal', :target=>'#are_you_sure_dialog'}}
                            %td.no-border-left
                                1 Hollywell, Poppintree Pane Lane West, Dublin 11 Long Longer, Ireland
                            %td
                                %i.icon-document-verified
                                %i.icon-document-default
                            %td
                        %tr
                            %td
                                %a.circle-delete-button.m-r-md{:href=>'#', :data=>{:toggle=>'modal', :target=>'#are_you_sure_dialog'}}
                            %td.no-border-left
                                1 Hollywell, Poppintree Pane Lane West, Dublin 11 Long, Ireland
                            %td
                                %i.icon-document-verified
                            %td
                                .buttons-container
                                    %a.btn.blue-button
                                        %i.icon-white-small-tick
                                        Set as default
                        %tr
                            %td
                                %a.circle-delete-button.m-r-md{:href=>'#', :data=>{:toggle=>'modal', :target=>'#are_you_sure_dialog'}}
                            %td.no-border-left
                                Short, Pane Lane West, Dublin 11, Ireland
                            %td
                                %i.icon-document-unverified
                            %td
                                .buttons-container
                                    %a.btn.green-button
                                        %i.icon-white-small-document
                                        Send new AVC
                                    %a.btn.green-button
                                        %i.icon-white-small-tick
                                        Verify

