= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Change password

				.light-spacer
				.row
					.span12
						.lead
							%p 
								Your new password must be 12-32 characters long and contain at least one letter and number.


				%form
					.row.margin-bottom-30
						.span3
							.form-group
								%label Current password:
								.control-group
									%input.input-fit-box{:type=>"password"}
						.span3
							.form-group
								%label New password:
								.control-group
									%input.input-fit-box{:type=>"password"}
						.span3
							.form-group
								%label New password confirmation:
								.control-group
									%input.input-fit-box{:type=>"password"}

					.action-buttons
						%a.btn{:href=>'#'} Cancel
						%button.btn.btn-primary.btn-auto-width.btn-wider{:type=>"submit"} Change password
