= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Change your name

				.light-spacer
				.row
					.span12
						.lead
							%p 
								Change your name. This will be your official mail name to post delivery. You are not allowed to forward your account to another person and it's against terms and conditions. If we detect such abuse account will be locked. You can use 'link account' feature to read somebodys email.


				%form
					.row.margin-bottom-30
						.span2
							.form-group
								%label Title:
								.control-group
									%select.full-width-select.select-ui
										%option Mr
										%option Ms
						.span2
							.form-group
								%label First name:
								.control-group
									%input.full-width-input{:type=>"text"}
						.span2
							.form-group
								%label Second name (opt.):
								.control-group
									%input.full-width-input{:type=>"text"}
						.span2
							.form-group
								%label Suffix (opt.):
								.control-group
									%select.full-width-select.select-ui
										%option Jnr
										%option Snr
						.span2
							.form-group
								%label Last name:
								.control-group
									%input.full-width-input{:type=>"text"}

					.action-buttons
						%a.btn{:href=>'#'} Cancel
						%button.btn.btn-primary.btn-auto-width.btn-wider{:type=>"submit"} Change name
