= render :partial => 'page_head'

.main
	.container
		.row
			.span9
				= render :partial => 'breadcrumbs'
			.quick-action-bar.span3
				%a{:href=>'#'}
					%i.icon-grid-view
				%a{:href=>'#'}
					%i.icon-quick-print
				%a{:href=>'#'}
					%i.icon-quick-download
			.clearfix

		.row
			.span12

				.row
					.span3
						%ul.tab-nav.received-filter
							%li
								%a.active{:href=>'#'}
									%i.icon-nav-received
									Received
									%span.count (12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-not-opened
									Not opened
									%span.count (11/12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-paid
									Paid
									%span.count (1/12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-unpaid
									Unpaid
									%span.count (11/12)

						%ul.tab-nav.providers-filter
							%li
								%a{:href=>'#'}
									%i.icon-electricity-gas
									Electricity
							%li
								%a{:href=>'#'}
									%i.icon-building-society
									Building society
							%li
								%a{:href=>'#'}
									%i.icon-insurance
									Insurance
							%li
								%a.active{:href=>'#'}
									%i.icon-banks
									Banks
							%li
								%a{:href=>'#'}
									%i.icon-financial-houses
									Financial

					.span9
						.rounded-border
							%table.datatable
								%thead
									%tr
										%th.first-col
										%th Title
										%th Status
										%th Sender
										%th Received
										%th Opened
										%th Paid
										%th
								%tbody
									%tr
										%td.first-col
											%label.custom-checkbox{:for=>'checkbox1'}
											%input.checkbox-ui#checkbox1{:type=>'checkbox'}
										%td This is sample title of the bill
										%td 
											%i.icon-inbox-envelope-paid
										%td Bank of Montreal
										%td 10/06/2013
										%td 11/06/2013
										%td 11/06/2013
										%td
											%a.link-icon{:href=>'#'}
												%i.icon-message-trash
											%a.link-icon{:href=>'#'}
												%i.icon-message-lock
									%tr
										%td.first-col
											%label.custom-checkbox{:for=>'checkbox2'}
											%input.checkbox-ui#checkbox2{:type=>'checkbox'}
										%td This is sample title of the bill
										%td 
											%i.icon-inbox-envelope-opened
										%td Bank of Montreal
										%td 10/06/2013
										%td 11/06/2013
										%td -
										%td
											%a.link-icon{:href=>'#'}
												%i.icon-message-trash
											%a.link-icon{:href=>'#'}
												%i.icon-message-lock
									- i = 2
									- 8.times do
										- i = i + 1
										%tr
											%td.first-col
												%label.custom-checkbox{:for=>"checkbox#{i}"}
												%input.checkbox-ui{:type=>'checkbox', :id => "checkbox#{i}"}
											%td This is sample title of the bill
											%td 
												%i.icon-inbox-envelope
											%td Bank of Montreal
											%td 10/06/2013
											%td -
											%td -
											%td
												%a.link-icon{:href=>'#'}
													%i.icon-message-trash
												%a.link-icon{:href=>'#'}
													%i.icon-message-lock
						.action-bar
							.pull-left
								%select.select-ui
									%option Bulk actions...
									%option Move to..
									%option Mark as not opened
							.pull-right
								Items per page
								%select.select-ui.page-select.margin-right-10
									%option 10
									%option 20
									%option 50
								Page
								%select.select-ui.page-select
									%option 1
									%option 2
									%option 3
							.clearfix


