= render :partial => 'page_head'

.main
	.container
		.row
			.span9
				= render :partial => 'breadcrumbs'
			.quick-action-bar.span3
				%a{:href=>'#'}
					%i.icon-list-view
				%a{:href=>'#'}
					%i.icon-quick-print
				%a{:href=>'#'}
					%i.icon-quick-download
			.clearfix

		.row
			.span12

				.row
					.span3
						%ul.tab-nav.received-filter
							%li
								%a.active{:href=>'#'}
									%i.icon-nav-received
									Received
									%span.count (12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-not-opened
									Not opened
									%span.count (11/12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-paid
									Paid
									%span.count (1/12)
							%li
								%a{:href=>'#'}
									%i.icon-nav-unpaid
									Unpaid
									%span.count (11/12)

						%ul.tab-nav.providers-filter
							%li
								%a{:href=>'#'}
									%i.icon-electricity-gas
									Electricity
							%li
								%a{:href=>'#'}
									%i.icon-building-society
									Building society
							%li
								%a{:href=>'#'}
									%i.icon-insurance
									Insurance
							%li
								%a.active{:href=>'#'}
									%i.icon-banks
									Banks
							%li
								%a{:href=>'#'}
									%i.icon-financial-houses
									Financial

					.span9
						.envelopes-grid.scrollarea
							- 5.times do
								%a.mail{:href=>"#"}
									.provider
										= image_tag asset_path 'images/provider_logo/ebay.png'
									.text
										%p 
											Sample title
											%br
											Lorem ipsum dolor
									.stamp
										%span 11.05.2013
									.status
										%span.green Paid
										%br
										%span.green Opened: 15.05.2013
								%a.mail{:href=>"#"}
									.provider
										= image_tag asset_path 'images/provider_logo/electric.png'
									.text
										%p 
											Demo User
											%br
											Sample Street 1234
											%br
											Dublin 4
									.stamp
										%span 11.05.2013
									.status
										%span.red Not paid
										%br
										%span.green Opened: 15.05.2013
								


						.action-bar
							.pull-left
							.pull-right
								Items per page
								%select.select-ui.page-select.margin-right-10
									%option 10
									%option 20
									%option 50
								Page
								%select.select-ui.page-select
									%option 1
									%option 2
									%option 3
							.clearfix


