= render :partial => 'page_head'
.main
	.container
		.row
			.span4.offset4
				%ul.nav
					%li
						= link_to "New mailing", new_mailing_path
					%li
						= link_to "Mailing list", mailing_list_path
					%li
						= link_to "Job preview", job_preview_path
					%li
						= link_to "Providers confirm", providers_confirm_path
					%li
						= link_to "schedule batch 1/2", schedule_batch_1_path
					%li
						= link_to "schedule batch 2/2", schedule_batch_2_path
				%ul.nav
					%li
						= link_to "New mailing confirm", new_mailing_confirm_path
					%li
						= link_to "Inbox list", inbox_list_path
					%li
						= link_to "Inbox grid", inbox_grid_path
					%li
						= link_to "Received", received_path
					%li
						= link_to "Providers", providers_path
					%li
						= link_to "Login step 1", login_1_path
					%li
						= link_to "Login step 2", login_2_path
				%ul.nav
					%li
						= link_to "Profile", profile_path
					%li
						= link_to "New address", new_address_path
					%li
						= link_to "New address confirm", new_address_confirm_path
					%li
						= link_to "Change password", change_password_path
					%li
						= link_to "Edit name", edit_name_path
					%li
						= link_to "Preferences", preferences_path
					%li
						= link_to "Add filter", add_filter_path
					%li
						= link_to "Edit filter", edit_filter_path

				%ul.nav
					%li
						Additional:
						%ul
							%li
								= link_to "Notifications", notifications_path
							%li
								= link_to "New header", new_header_path



