= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Job preview

				.light-spacer

				.top-space

					.row
						%table.table-simple.table-bordered.table-center.span8.table-two-coloured
							%tr
								%td
									%strong Mailing ID
								%td #01
							%tr
								%td
									%strong Created at
								%td 12/06/2013
							%tr
								%td
									%strong Status
								%td Ready
							%tr
								%td
									%strong Status date
								%td 12/06/2013
							%tr
								%td
									%strong Scheduled to send
								%td Not scheduled
							%tr
								%td
									%strong Total records
								%td 545098

						.span3.offset1
							%p
								%a.btn.btn-full-width{:href=>'#'} Back to mailing list
							%p
								%a.btn.btn-full-width.btn-primary{:href=>'#'} Sent now
							%p
								%a.btn.btn-full-width.btn-primary{:href=>'#'} Schedule batch sent

						.clearfix

				%h3.page-title Result files

				.light-spacer

				.row
					%table.table-upload-row.span6.table-center.table-padding
						%tr
							%td.bordered-cell-left
								%strong Found address list:
							%td.bordered-cell-right.background-cell
								545 098
							%td
								%a.btn.btn-primary Save to file
					%table.table-upload-row.span6.table-center.table-padding
						%tr
							%td.bordered-cell-left
								%strong Not found address list: 3 678
							%td.bordered-cell-right.background-cell
								3 678
							%td
								%a.btn.btn-primary Save to file
					.clearfix	

				%h3.page-title Batch send history

				.light-spacer

				.row
					%table.table-simple.table-bordered.table-center.table-two-coloured.span12
						%tr
							%td
								%strong Batch number
							%td 
								%strong Schedule date
							%td 
								%strong Number of records
							%td 
								%strong Sent date
						%tr
							%td 1.
							%td 14/06/2013
							%td 300 000
							%td 15/06/2013
						%tr
							%td 2.
							%td 20/06/2013
							%td 245 098
							%td Not send


				.action-buttons
					%a.btn.btn-widest.btn-auto-width{:href=>'#'} Back to mailing list


