= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Your mailings

				.light-spacer

				.lead
					.row
						.span9
							%p This is your mailing list. You can do this and that. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
						.span3
							%a.btn.btn-primary.btn-full-width.top-margin{:href=>'#'} Create new mailing
						.clearfix

				.row
					%table.table-simple.table-bordered.table-center.span3.table-menu
						%tr
							%td 
								%strong Filters
						%tr
							%td
								%a{:href=>"#"} Filter 1
						%tr
							%td 
								%a{:href=>"#"} Filter 2
						%tr
							%td 
								%a.active{:href=>"#"} Filter 3 active
						%tr
							%td 
								%a{:href=>"#"} Filter 4
						%tr
							%td 
								%a{:href=>"#"} Filter 5
						%tr
							%td 
								%a{:href=>"#"} Filter 6

						
					%table.table-simple.table-bordered.table-center.span8.table-two-coloured.offset1
						%tr
							%td 
								%strong Number
							%td 
								%strong Status
							%td 
								%strong Created
							%td 
								%strong Action
						%tr
							%td
								= "#01"
							%td
								Sending
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%span.disabled
									%i.icon-send-letter
								%span.disabled.link-icon{:href=>'#'} 
									%i.icon-table-list
						%tr
							%td
								= "#02"
							%td
								Ready
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%a.link-icon{:href=>'#'} 
									%i.icon-send-letter
								%a.link-icon{:href=>'#'} 
									%i.icon-table-list
						%tr
							%td
								= "#03"
							%td
								Sent
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%span.disabled.link-icon{:href=>'#'} 
									%i.icon-send-letter
								%span.disabled.link-icon{:href=>'#'} 
									%i.icon-table-list
						%tr
							%td
								= "#04"
							%td
								Processing
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%span.disabled.link-icon{:href=>'#'} 
									%i.icon-send-letter
								%span.disabled.link-icon{:href=>'#'} 
									%i.icon-table-list
						%tr
							%td
								= "#05"
							%td
								Ready
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%a.link-icon{:href=>'#'} 
									%i.icon-send-letter
								%a.link-icon{:href=>'#'} 
									%i.icon-table-list
						%tr
							%td
								= "#06"
							%td
								Ready
							%td
								11/05/2013
							%td
								%a.link-icon{:href=>'#'} 
									%i.icon-zoom
								%a.link-icon{:href=>'#'} 
									%i.icon-send-letter
								%a.link-icon{:href=>'#'} 
									%i.icon-table-list
								

					.clearfix