= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Thank you!

				.light-spacer

				.lead
					%p 
						We are sending you paper mail on address you provided. After you receive it, come back to our website, login to your account and confirm your new address with a verification code from the mail.

					%p
						After that we will be able to provide digital mail service for you.

				%p
					%a.btn.btn-primary.btn-wider{:href=>"#"} Go to Homepage