= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Create new mailing

				.light-spacer

				.lead
					%p 
						Now our software must process your address database in order  to increase effectiveness of the mailing.
						%br 
						In the mean time you can refer to list of mailing jobs.
					%p We will send you an email when mailing will be ready to send or schedule.

				%p
					%a.btn.btn-primary.btn-wider{:href=>"#"} Go to mailing job list