= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Create new mailing

				.light-spacer

				.lead
					%p In order to create new mailing you need to supply address database in metadata format and content to be send to addressie.


				.row
					%table.table-upload-row.span6.table-center.table-padding
						%tr
							%td.bordered-cell-left
								%strong Metadata (XML format):
							%td.bordered-cell-right.background-cell.file-cell
								%div
									%span.mask{:style=>'width: 68%'} 68%
									No file uploaded
							%td
								%a.btn.btn-primary.file-upload-trigger Choose file
					%table.table-upload-row.span6.table-center.table-padding
						%tr
							%td.bordered-cell-left

								%strong Mailing content (PDF format):
							%td.bordered-cell-right.background-cell.file-cell
								%div
									%span.mask
									No file uploaded
							%td
								%a.btn.btn-primary.file-upload-trigger Choose file
					.clearfix	



				.action-buttons
					%a.btn{:href=>"#"} Cancel
					%a.btn.btn-primary{:href=>"#"} Create mailing