.home-promo
	.home-promo-background
		= image_tag asset_path "images/home_promo.jpg"

	.container
		.row
			.span12
				.home-promo-inner
					.home-promo-wrapper
						%h2.home-promo-title
							Every home in Ireland now has a
							%br
							%strong Digital Postbox
						%p 
							Receive mail and pay bills from selected providers and securely store 
							%br
							important documents online, in one place and with one password. 
						%p
							%a.btn.btn-primary{:href=>'#'} Claim Your Address Today!
						%p
							%a{:href=>'#'}
								= image_tag asset_path "images/home_video.jpg"
							%br
							%small See how it all works
.main
	.container
		.row
			.span12
				%h3.page-title Lorem ipsum
				.light-spacer
