= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title New postal address

				.light-spacer
				.row
					.span9
						.lead
							%p 
								This is a page where you can change delivery address for mail that will be send to you through snail mail. We will send you paper mail with verification code on new address to confirm that you indeed occupy address you provided. You can change your address once a month.


				%form
					.row.margin-bottom-30
						.span3
							.form-group
								%label Country:
								.control-group
									%select.input-fit-box.select-ui
										%option Ireland
										%option England

						.span5
							.form-group
								%label Address:
								.control-group
									%input.input-fit-box{:placeholder => 'Put your new postal address here', :type=>'text'}

					.action-buttons
						%a.btn{:href=>'#'} Cancel
						%button.btn.btn-primary.btn-auto-width.btn-wider{:type=>"submit"} Add address
