= render :partial => 'page_head'
.main
	.container
		.row
			.span12

				.alert.alert-block.alert-info
					.alert-content
						.alert-mask
						.alert-icon
						.alert-button
							%a.btn{:href=>'#'} Set phone
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.
							%br 
							We will only use phone to perform additional authorization, making your account safer.

				.alert.alert-block.alert-success
					.alert-content
						.alert-mask
						.alert-icon
						.alert-button
							%a.btn{:href=>'#'} Set phone
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.
							%br 
							We will only use phone to perform additional authorization, making your account safer.

				.alert.alert-block.alert-warning
					.alert-content
						.alert-mask
						.alert-icon
						.alert-button
							%a.btn{:href=>'#'} Set phone
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.
							%br 
							We will only use phone to perform additional authorization, making your account safer.

				.alert.alert-block.alert-danger
					.alert-content
						.alert-mask
						.alert-icon
						.alert-button
							%a.btn{:href=>'#'} Set phone
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.
							%br 
							We will only use phone to perform additional authorization, making your account safer.

				



				.alert.alert-block.alert-info
					.alert-content
						.alert-mask
						.alert-icon
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.

				.alert.alert-block.alert-success
					.alert-content
						.alert-mask
						.alert-icon
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.

				.alert.alert-block.alert-warning
					.alert-content
						.alert-mask
						.alert-icon
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.

				.alert.alert-block.alert-danger
					.alert-content
						.alert-mask
						.alert-icon
						%p 
							You have no mobile phone coupled to you account. This decrease security level of your account.

				