= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				.alert.alert-block.alert-warning
					.alert-content
						.alert-mask
						.alert-icon
						%p 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.

				
				.row

					.span6
						%h3.page-title Filters
						.light-spacer

						.row
							%table.table-simple.table-bordered.table-center.table-two-coloured.span6.margin-bottom-30
								%tr
									%td
										%strong Filter name
									%td 
										%strong Action
								%tr
									%td Received
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove
											%a.btn.blue-button 
												%i.icon-white-small-edit 
												Edit
								%tr
									%td Not paid
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove
											%a.btn.blue-button 
												%i.icon-white-small-edit 
												Edit
								%tr
									%td Not opened
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove
											%a.btn.blue-button 
												%i.icon-white-small-edit 
												Edit

							%p.pull-right
								%a.btn.btn-primary.btn-wider{:href=>'#'} Add tag



					.span6

						%h3.page-title Tags
						.light-spacer

						.row
							%table.table-simple.table-bordered.table-center.table-two-coloured.span6.margin-bottom-30
								%tr
									%td
										%strong Tag name
									%td 
										%strong Action
								%tr
									%td Banks
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove
								%tr
									%td Insurance
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove
								%tr
									%td Electricity
									%td 
										.buttons-container
											%a.btn.red-button 
												%i.icon-white-small-cross 
												Remove

							%p.pull-right
								%a.btn.btn-primary.btn-wider{:href=>'#'} Add tag

					.clearfix

				%h3.page-title Reminders

				.light-spacer

				.lead
					.row
						.span9
							%p This section contains global reminder settings. Every new document that goes to you will gain these reminder settings. You can change this setting per document on particular document page in reminder widget.
						.span3
							%a.btn.btn-primary.pull-right{:href=>'#'} Edit global reminders settings
						.clearfix

				.row
					%table.table-upload-row.span5.table-center.table-padding
						%tr
							%td.bordered-cell-left
								%strong Reminder channels:
							%td.bordered-cell-right.background-cell
								%strong SMS & Email

					%table.table-upload-row.span7.table-center.table-padding
						%tr
							%td.bordered-cell-left
								%strong Time before due date when reminder will be sent:
							%td.bordered-cell-right.background-cell
								%strong 3 days

					.clearfix	



				%h3.page-title Your mail providers

				.light-spacer

				.lead
					.row
						.span9
							%p This is a list of providers that were selected to receive mail from.
						.span3
							%a.btn.btn-primary.pull-right{:href=>'#'} Edit providers list
						.clearfix

				.row

					%table.table-simple.table-bordered.table-center.table-two-coloured.span12
						%tr
							%td
								%strong Provider name
							%td 
								%strong Provider group
							%td 
								%strong Action
						%tr
							%td ACC Bank
							%td Not verified
							%td 
								.buttons-container
									%a.btn.green-button 
										%i.icon-white-small-document 
										Go digital
						%tr
							%td Allied Irish Bank
							%td Active
							%td 
								.buttons-container
									%a.btn.green-button 
										%i.icon-white-small-document 
										Go digital
						%tr
							%td Bank of Ireland
							%td Active
							%td 
								.buttons-container
									%a.btn.green-button 
										%i.icon-white-small-document 
										Go digital
						
