= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				.alert.alert-block.alert-info
					.alert-content
						.alert-mask
						.alert-icon
						.alert-button
							%a.btn{:href=>'#'} Set phone
						%p 
							You have no mobile phone coupled to you account. This decreases the security level of your account.
							%br 
							We will only use your telephone number to carry out additional account authorization which makes your account safer and easier to use.

				%h3.page-title Personal details

				.light-spacer

				.row

					.span3
						.profile-personal-details-input
							%input.full-width-input.input-icon-light-personal{:type=>'text', :value => 'Mr John Doe Jr'}
							%p.pull-right
								%a.btn.btn-primary{:href=>'#'} Change name
					.span3
						.profile-personal-details-input
							%input.full-width-input.input-icon-light-password{:type=>'password'}
							%p.pull-right
								%a.btn.btn-primary{:href=>'#'} Change password
					.span3
						.profile-personal-details-input
							%input.full-width-input.input-icon-light-mail{:type=>'text', :value => 'john.doe@example.com'}
							%p.pull-right
								%a.btn.btn-primary{:href=>'#'} Change email
					.span3
						.profile-personal-details-input
							%input.full-width-input.input-icon-light-phone{:type=>'text', :value => '+353 99 99 999'}
							%p.pull-right
								%a.btn.btn-primary{:href=>'#'} Change mobile

				%h3.page-title Addresses

				.light-spacer

				.lead
					.row
						.span9
							%p Mail sent to following addresses with your name will go to your Green Letterbox.
						.span3
							%a.btn.btn-primary.pull-right.btn-wider{:href=>'#'} Add address
						.clearfix

				.row
					%table.table-simple.table-bordered.table-center.table-two-coloured.span12
						%tr
							%td
								%strong Adresses
							%td 
								%strong Status
							%td 
								%strong Action
						%tr
							%td Some address one, each address line
							%td Not verified
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove
									%a.btn.green-button 
										%i.icon-white-small-tick 
										Verify
						%tr
							%td Some address two, each address line
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove
						%tr
							%td Some address three, each address line
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove
						

				%h3.page-title Shared account

				.light-spacer

				.lead
					.row
						.span12
							%p Below is a list of all your shared accounts. By using this feature, another Green Letterbox user can make their mail visible to you. This function can be used by individuals who may need supervision or assistance managing their mail e.g.: for minors, the elderly or the visually impaired.
						.clearfix

				.row
					%table.table-simple.table-bordered.table-center.table-two-coloured.span12
						%tr
							%td
								%strong Adresses
							%td 
								%strong Status
							%td 
								%strong Action
						%tr
							%td Some address one, each address line
							%td Not verified
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove
									%a.btn.green-button 
										%i.icon-white-small-tick 
										Verify
						%tr
							%td Some address two, each address line
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove
						%tr
							%td Some address three, each address line
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Remove

				.lead
					.row
						.span7
							%p You published your content to following accounts:
						.span5
							%a.btn.btn-primary.pull-right.btn-wider{:href=>'#'} Publish to another account
						.clearfix

				.row
					%table.table-simple.table-bordered.table-center.table-two-coloured.span12
						%tr
							%td
								%strong Account
							%td 
								%strong Country
							%td 
								%strong Status
							%td 
								%strong Action
						%tr
							%td First name, username1234
							%td Ireland
							%td Not accepted
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Decline
						%tr
							%td First name, username1234
							%td England
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Decline
						%tr
							%td First name, username1234
							%td Ireland
							%td Active
							%td 
								.buttons-container
									%a.btn.red-button 
										%i.icon-white-small-cross 
										Decline

