= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Select your mailers

				.light-spacer

				.lead
					%p 
						From the list below, select the companies and organisations that send you mail. 
						%br
						If you cannot find a mailer, use the suggest mailer field at the bottom of this page to suggest a new mailer to us.
						/ Picking up company on list below means that you will not receive electronic mail from them, but only paper mail on your postal address.
						/ %br
						/ That's why you should be very carefull when making a choice.

				
				.providers-wrapper.span4
					= render :partial => 'providers_list'