= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Paper billers list summary

				.light-spacer

				.lead
					%p This is a list of providers that you selected to receive paper mail from. Please conform list with a button below.


				.row
					%table.table-simple.table-two-coloured.table-bordered.table-center.span6
						%tr
							%td 
								%strong Provider name
							%td 
								%strong Provider group
						%tr
							%td
								ACC Bank
							%td
								%i.icon-banks
								Banks
						%tr
							%td
								Allied Irish Bank
							%td
								%i.icon-banks
								Banks
						%tr
							%td
								Bank of Ireland
							%td
								%i.icon-banks
								Banks

					.clearfix	



				.action-buttons
					%a.btn{:href=>"#"} Cancel
					%a.btn.btn-primary{:href=>"#"} Confirm list