= render :partial => 'page_head'

.main
	.container
		.row
			.span9
				= render :partial => 'breadcrumbs'
			.quick-action-bar.span3
				%a{:href=>'#'}
					%i.icon-list-view
				%a{:href=>'#'}
					%i.icon-quick-print
				%a{:href=>'#'}
					%i.icon-quick-download
			.clearfix

		.row
			.span12
				.row
					.span5.envelopes-grid-onecolumn
						.envelopes-grid.envelopes-grid-onecolumn.scrollarea
							%a.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/ebay.png'
								.text
									%p 
										Sample title
										%br
										Lorem ipsum dolor
								.stamp
									%span 11.05.2013
								.status
									%span.green Paid
									%br
									%span.green Opened: 15.05.2013
							%a.active.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/electric.png'
								.text
									%p 
										Demo User
										%br
										Sample Street 1234
										%br
										Dublin 4
								.stamp
									%span 11.05.2013
								.status
									%span.red Not paid
									%br
									%span.green Opened: 15.05.2013
							%a.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/electric.png'
								.text
									%p 
										Demo User
										%br
										Sample Street 1234
										%br
										Dublin 4
								.stamp
									%span 11.05.2013
								.status
									%span.red Not paid
									%br
									%span.green Opened: 15.05.2013
							%a.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/ebay.png'
								.text
									%p 
										Sample title
										%br
										Lorem ipsum dolor
								.stamp
									%span 11.05.2013
								.status
									%span.green Paid
									%br
									%span.green Opened: 15.05.2013
							%a.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/electric.png'
								.text
									%p 
										Demo User
										%br
										Sample Street 1234
										%br
										Dublin 4
								.stamp
									%span 11.05.2013
								.status
									%span.red Not paid
									%br
									%span.green Opened: 15.05.2013
							%a.mail{:href=>"#"}
								.provider
									= image_tag asset_path 'images/provider_logo/electric.png'
								.text
									%p 
										Demo User
										%br
										Sample Street 1234
										%br
										Dublin 4
								.stamp
									%span 11.05.2013
								.status
									%span.red Not paid
									%br
									%span.green Opened: 15.05.2013
								

					.span7
						.pdf-preview
							.toolbar

							.content
								= image_tag asset_path 'images/pdf-preview.png'

						.action-buttons
							.pull-right
								%span.btn.red-button.btn-disabled
									%i.icon-white-not-paid
									Not paid
								%a.btn.green-button{:href=>"#"}
									%i.icon-white-pay-now
									Pay now

					.clearfix

