= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Schedule batches for mailing 2/2

				.light-spacer

				.lead
					%p Below is automatic schedule for your mailing. You can modify date of particular schedule as you like.

				.row
					%table.table-simple.table-bordered.table-center.span6
						%tr
							%td 
								%strong Records
							%td 
								%strong Date
							%td 
								%strong Change date
						%tr
							%td
								300 000
							%td
								14/06/2013
							%td
								%a{:href=>'#'} 
									%i.icon-edit-date
								
						%tr
							%td
								293 212
							%td
								19/06/2013
							%td
								%a{:href=>'#'} 
									%i.icon-edit-date
								

					.clearfix	


				.action-buttons
					%a.btn{:href=>"#"} Cancel
					%a.btn.btn-primary.btn-wider{:href=>"#"} Setup batches