= render :partial => 'page_head'

.main
	.container
		= render :partial => 'breadcrumbs'


		.row
			.span12

				%h1.page-title Schedule batches for mailing 1/2

				.light-spacer

				.lead
					%p In order to arrange batches answer our two questions:

				%form
					.row
						.span4
							.form-group
								%label How many records will be send per batch?
								%input.form-control{:type=>"text", :value => "30000"}
						.span4
							.form-group
								%label Choose frequency of the batches:
								%select.select-ui
									%option Every two days
									%option Once a week



				.action-buttons
					%a.btn{:href=>"#"} Cancel
					%button.btn.btn-primary.btn-wider.btn-auto-width{:type=>"submit"} Arrange batches