.main
	.alert
		text-shadow: none
		p
			padding-top: 18px
			margin-bottom: 18px
			margin-top: 0

.alert-info, .alert-warning, .alert-success, .alert-danger
	color: #fff
	background: none
	padding: 0
	border: 0
	overflow: hidden
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	.alert-mask
		position: absolute
		left: 0
		top: 0
		height: 300px
		width: 68px
		background: #003e78
		opacity: 0.3
	.alert-icon
		position: absolute
		left: 0
		top: 0
		height: 100%
		background: url("../images/alert-icons.png") -409px center no-repeat
		width: 68px
	.alert-content
		font-size: 16px
		position: relative
		padding-left: 103px
		padding-right: 220px
		background: #3694d6
		border-bottom: 4px solid #2075c5
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
	.alert-button
		position: absolute
		right: 64px
		top: 50%
		.btn
			padding-left: 28px
			padding-right: 28px
			margin-top: -19px
			border: 0
			background: #fff
			font-size: 16px
			font-weight: 400
			color: #3694d6
		.btn:hover
			border: 0
			padding-bottom: 6px

.alert-warning
	.alert-icon
		background: url("../images/alert-icons.png") 30px center no-repeat
	.alert-content
		background: #f29f1c
		border-bottom-color: #ec810f
	.alert-mask
		background: #a85e2b
	.alert-button
		.btn
			color: #f29f1c

.alert-success
	.alert-icon
		background: url("../images/alert-icons.png") -222px center no-repeat
	.alert-content
		background: #7ab863
		border-bottom-color: #5a9e44
	.alert-mask
		background: #2f5423
	.alert-button
		.btn
			color: #7ab863

.alert-danger
	.alert-icon
		background: url("../images/alert-icons.png") -92px center no-repeat
	.alert-content
		background: #f6444b
		border-bottom-color: #f12b30
	.alert-mask
		background: #af2d30
	.alert-button
		.btn
			color: #f6444b
