button 
	font-weight: 300

.action-buttons
	.btn
		margin-right: 10px
	.btn-auto-width
		width: auto

.top-space
	padding-top: 1em
.top-margin
	margin-top: 0.8em

.btn-full-width
	display: block
	width: auto 


.btn-auto-width
	width: auto !important

.action-buttons
	.pull-right
		.btn
			margin-right: 0
			margin-left: 10px

.circle-delete-button
	width: 22px
	height: 22px
	background: url('../images/app-sprites.png') no-repeat 0 -2110px
	display: inline-block
	line-height: 14px
	vertical-align: text-top

.circle-delete-button:hover
	background: url('../images/app-sprites.png') no-repeat 0 -2142px

.red-button
	border: 0
	background: #e84829
.btn-danger
	background: #e84829
.btn-danger:hover
	background: #cd4126

.green-button
	border: 0
	background: #7ab863
.blue-button
	border: 0
	background: #3694d6

.red-button:hover, .green-button:hover, .blue-button:hover
	border: 0
	padding-bottom: 6px

span.btn
	cursor: default

table .buttons-container .btn
	margin-left: 5px
	margin-right: 5px
	padding-top: 2px
	padding-bottom: 2px
	padding-left: 12px
	padding-right: 12px

@media (min-width: 990px)
	.action-buttons
		.btn
			margin-right: 30px
			width: 110px
	.action-buttons
		.pull-right
			.btn
				margin-right: 0
				margin-left: 20px

	.btn-wider
		padding-left: 25px
		padding-right: 25px

	.btn-widest
		padding-left: 55px
		padding-right: 55px