.customSelect
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s
	-o-transition: border linear 0.2s, box-shadow linear 0.2s
	transition: border linear 0.2s, box-shadow linear 0.2s
	border: 1px solid #d3d6da
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	outline: none
	color: #727272
	padding-left: 20px
	padding-right: 20px
	height: 20px
	padding-top: 8px
	padding-bottom: 9px
	line-height: 20px
	background: url('../images/select-bg.png') no-repeat right -1px

.customSelect.input-fit-box
	height: 38px
	line-height: 20px 

.customSelect.customSelectOpen, .customSelect.customSelectFocus
	border: 1px solid #509a34

.customSelect.page-select
	padding-left: 10px
	.customSelectInner
		padding-right: 10px