.envelopes-grid-onecolumn
	.envelopes-grid
		.mail
			width: 305px

.envelopes-grid
	.mail
		border: 2px solid #afafaf 
		width: 295px
		padding: 12px
		height: 185px
		float: left
		margin: 0 10px 12px 0
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		border-radius: 5px
		position: relative
		color: #727272
		.status
			position: absolute
			bottom: 12px
			left: 12px
			span
				-webkit-border-radius: 5px
				-moz-border-radius: 5px
				border-radius: 5px
				margin-top: 9px
				height: 30px
				line-height: 30px
				background: #727272
				color: #fff
				font-size: 14px
				padding: 0 15px
				display: inline-block
				font-size: 12px
			span.green
				background-color: #7ab863
			span.red
				background-color: #e84829
		.stamp
			width: 183px
			height: 84px
			position: absolute
			right: 12px
			top: 12px
			background: url('../images/stamp.png') no-repeat
			span
				position: absolute
				left: 39px
				width: 70px
				display: block
				top: 35px
				color: #7ab863
				font-size: 9px
				text-align: center
				font-weight: 400
		.text
			position: absolute
			left: 175px
			top: 122px
			font-size: 12px
	.mail:hover, .mail.active
		border-color: #7ab863
		-webkit-box-shadow: inset 0px 0px 100px 5px #ddd
		box-shadow: inset 0px 0px 100px 5px #ddd

@media (min-width: 1200px)
	.envelopes-grid-onecolumn
		.envelopes-grid
			.mail
				width: 370px
	.envelopes-grid
		.mail
			width: 370px
			padding: 12px
			height: 185px
			float: left
			margin: 0 17px 17px 0
			.status
				bottom: 12px
				left: 12px
				span
					-webkit-border-radius: 5px
					-moz-border-radius: 5px
					border-radius: 5px
					margin-top: 9px
					height: 30px
					line-height: 30px
					font-size: 14px
					padding: 0 15px
					font-size: 12px
			.stamp
				width: 183px
				height: 84px
				position: absolute
				right: 12px
				top: 12px
				span
					position: absolute
					left: 39px
					width: 70px
					display: block
					top: 35px
					font-size: 9px
					text-align: center
					font-weight: 400
			.text
				position: absolute
				left: 212px
				top: 122px
				font-size: 12px