.main
	input[type="text"],input[type="password"], select, textarea 
		border: 1px solid #d3d6da
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		outline: none
		color: #727272
		font-weight: 200
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus 
		background-color: #fff
		border: 1px solid #509a34
		outline: none
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none
		color: #727272
	select:focus 
		border: 1px solid #509a34
		outline: none
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none
	input[type="text"],input[type="password"]
		height: 20px
		padding-top: 8px
		padding-bottom: 9px
		line-height: 20px
		padding-left: 10px
		padding-right: 10px
	select
		height: 39px
		line-height: 39px
		padding-left: 10px
		padding-right: 10px

	.form-group
		label
			font-weight: bold
			margin-bottom: 20px

	form 
		margin-bottom: 55px

	input.full-width-input
		width: 100%
		height: 38px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	select.full-width-select
		width: 100%
		height: 38px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

	.input-fit-box, input.input-fit-box, input[type="text"].input-fit-box, select.input-fit-box
		width: 100%
		height: 38px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

.main 
	.action-bar
		margin-top: 28px
		select
			width: auto




@media (min-width: 990px)
	.main
		input[type="text"],input[type="password"]
			padding-left: 20px
			padding-right: 20px

.main .form-group label 
	margin-bottom: 15px

.main .control-group
	margin-bottom: 16px
