.navbar.navbar-white.new-navbar 
	min-height: 108px

	.btn-navbar
		margin-top: 30px

	.brand
		float: none

	a.brand img
		width: auto
		height: auto

	.brand-container
		float: left
		height: 50px
		position: relative
		width: 270px
		margin-right: 25px
		margin-top: 19px
		.beta
			position: absolute
			top: 0
			right: 0
			z-index: 71
		.brand
			top: 15px
			margin: 0
			padding: 0
			width: 250px
			z-index: 70

	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus
		background: none
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none

	.nav.main-menu
		float: left
		margin-top: 44px

	.nav.main-menu > li > a
		color: #666666 !important
		font-size: 13px
		font-weight: 500
		border-bottom: 4px solid #fff
		text-shadow: none

	.nav.main-menu > .active > a,
	.nav.main-menu > li > a:hover
		border-bottom: 4px solid #7ab863
		text-decoration: none

	.nav.main-menu li
		border: 0
		margin: 0
		padding: 0
		margin-right: 15px


	.nav.nav-login 
		margin-top: 34px

	.nav.nav-login a
		height: auto
		padding: 0 !important
		border: 0
		color: #7ab863 !important
		font-size: 13px
		font-weight: 500
		text-transform: uppercase

	.nav.nav-login > li > a:hover
		background: none !important


@media (max-width: 979px)
	.navbar.navbar-white.new-navbar 

		.nav.main-menu > li,
		.nav.nav-login > li
			margin: 0
			margin-bottom: 10px

		.nav.main-menu > li > a,
		.nav.nav-login > li > a
			border: 1px solid #959595
			padding: 5px 15px 6px !important
			color: #666666 !important

		.nav.main-menu > .active > a,
		.nav.main-menu > li > a:hover,
		.nav.nav-login > .active > a,
		.nav.nav-login > li > a:hover
			border: 1px solid #7ab863
			color: #7ab863 !important

		.nav.main-menu
			float: none


@media (min-width: 1200px)
	.navbar.navbar-white.new-navbar 
		
		.nav.main-menu > li
			margin-right: 30px

		.brand-container
			margin-right: 55px

		.nav.nav-login a,
		.nav.main-menu > li > a
			font-size: 14px