.home-promo
	background: #000
	height: 866px
	overflow: hidden
	position: relative
	.home-promo-background
	.row
		position: absolute
		top: 50%
		margin-top: -250px

	.home-promo-inner
		font-weight: 300
		position: relative
		top: 0
		text-align: center
		.home-promo-title
			font-size: 57px
			color: #fff
			font-weight: 300
			margin-bottom: 20px
			strong
				font-weight: 500
		p
			line-height: 1.2em
			font-size: 24px
			color: #fff
			small
				font-weight: 500
				font-size: 16px
		.btn
			margin-top: 55px
			margin-bottom: 25px
			padding: 19px 30px
			font-size: 21px
			font-weight: 300
		.btn:hover
			padding-bottom: 21px


@media (max-width: 979px)
	.home-promo
		.home-promo-inner
			.home-promo-title
				font-size: 47px
				margin-bottom: 20px
			p
				line-height: 1.2em
				font-size: 18px
				small
					font-weight: 500
					font-size: 14px
			.btn
				margin-top: 20px
				margin-bottom: 20px
				padding: 19px 30px
				font-size: 21px
				font-weight: 300
			.btn:hover
				padding-bottom: 21px

@media (max-width: 767px)
	.home-promo
		.row
			width: 100%
		.home-promo-inner
			font-weight: 300
			.home-promo-title
				font-size: 30px
				margin-bottom: 20px
			p
				padding-left: 10px
				padding-right: 10px
				line-height: 1.2em
				font-size: 18px
				color: #fff
				small
					font-weight: 500
					font-size: 14px
			.btn
				margin-top: 10px
				margin-bottom: 10px
				padding: 8px 17px
				font-size: 18px
			.btn:hover
				padding-bottom: 10px

@media (max-width: 400px)
	.home-promo
		.row
			width: 100%
		.home-promo-inner
			font-weight: 300
			.home-promo-title
				font-size: 30px
				margin-bottom: 20px
			p
				line-height: 1.2em
				font-size: 16px
				color: #fff
				small
					font-weight: 500
					font-size: 12px
			.btn
				margin-top: 10px
				margin-bottom: 10px
				padding: 8px 17px
				font-size: 18px
			.btn:hover
				padding-bottom: 10px

