.icon-edit-date
	background: url('../images/app-sprites.png') no-repeat 0 -36px
	height: 28px
	width: 28px

a:hover
	.icon-edit-date
		background-position: 0 -82px

.icon-zoom
	background: url('../images/app-sprites.png') no-repeat 0 -269px
	height: 21px
	width: 25px
	margin-top: 1px

.icon-send-letter
	background: url('../images/app-sprites.png') no-repeat 0 -229px
	height: 21px
	width: 28px
	margin-top: 3px

.disabled
	[class^="icon-"], [class*=" icon-"]
		opacity: 0.3

.icon-table-list
	background: url('../images/app-sprites.png') no-repeat 0 -364px
	margin-top: 2px
	height: 22px
	width: 25px

.icon-grid-view
	background: url('../images/app-sprites.png') no-repeat 0 -897px
	height: 22px
	width: 25px

.icon-list-view
	background: url('../images/app-sprites.png') no-repeat 0 -1255px
	height: 22px
	width: 25px

.icon-quick-print
	background: url('../images/app-sprites.png') no-repeat 0 -859px
	height: 22px
	width: 25px

.icon-quick-download
	background: url('../images/app-sprites.png') no-repeat 0 -936px
	height: 22px
	width: 25px

a:hover
	.icon-grid-view
		background-position: -55px -897px

	.icon-list-view
		background-position: -73px -1255px

	.icon-quick-print
		background-position: -55px -859px

	.icon-quick-download
		background-position: -55px -936px

.quick-action-bar
	text-align: right
	a
		margin-left: 5px
		margin-right: 3px
	a:hover
		text-decoration: none


.icon-message-trash
	background: url('../images/app-sprites.png') no-repeat 0 -992px
	height: 22px
	width: 25px

.icon-message-lock
	background: url('../images/app-sprites.png') no-repeat -36px -992px
	height: 22px
	width: 25px


a:hover

	.icon-message-trash
		background: url('../images/app-sprites.png') no-repeat 0 -1040px

	.icon-message-lock
		background: url('../images/app-sprites.png') no-repeat -36px -1040px


.link-icon:hover
	text-decoration: none

a
	.icon-send-letter:hover
		background-position: 0 -178px
	.icon-table-list:hover
		background-position: 0 -451px
	.icon-zoom:hover
		background-position: 0 -404px



.icon-inbox-envelope
	background: url('../images/app-sprites.png') no-repeat 0 -620px
	margin-top: 2px
	height: 13px
	width: 22px
.icon-inbox-envelope-opened
	background: url('../images/app-sprites.png') no-repeat 0 -560px
	margin-top: 2px
	height: 30px
	width: 30px
	margin-left: 7px
.icon-inbox-envelope-paid
	background: url('../images/app-sprites.png') no-repeat 0 -510px
	margin-top: 2px
	height: 30px
	width: 30px
	margin-left: 7px

.received-filter
	[class^="icon-"], [class*=" icon-"]
		margin-right: 10px


.icon-nav-received
	background: url('../images/app-sprites.png') no-repeat 0 -655px
	margin-top: -4px
	height: 25px
	width: 28px
.icon-nav-not-opened
	background: url('../images/app-sprites.png') no-repeat 0 -705px
	margin-top: -4px
	height: 25px
	width: 28px
.icon-nav-paid
	background: url('../images/app-sprites.png') no-repeat 0 -753px
	margin-top: -4px
	height: 25px
	width: 28px
.icon-nav-unpaid
	background: url('../images/app-sprites.png') no-repeat 0 -803px
	margin-top: -4px
	height: 25px
	width: 28px

.navbar .nav .icon-mailing
	background: url('../images/app-sprites.png') no-repeat 0 -707px
	margin-top: -1px
	height: 18px
	width: 28px

.navbar .nav a:hover .icon-mailing
	background-position: 0px -1083px

.navbar .nav .icon-header-lockout
	background: url("../images/app-sprites.png") -66px -1125px no-repeat
	height: 19px
	margin-top: 0px

.navbar .nav a:hover
	.icon-header-lockout
		background-position: 0px -1125px

a.active, a:hover
	.icon-nav-received
		background-position: -64px -655px
	.icon-nav-not-opened
		background-position: -64px -705px
	.icon-nav-paid
		background-position: -64px -753px
	.icon-nav-unpaid
		background-position: -64px -803px

.providers-filter, .table-simple
	.icon-banks
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position:  -165px 0px !important
		margin-top: -4px !important
	.icon-building-society
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position:  -165px -58px !important
	.icon-telecommunication
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position:  -165px -665px !important
	.icon-insurance
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -550px !important
	.icon-local
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -605px !important
	.icon-electricity-gas
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -435px !important
	.icon-waste-collection
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -719px !important
	.icon-financial-houses
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -492px !important
	.icon-charity
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -114px !important
	.icon-credit-unions
		background-image: url('../images/providers.png')
		height: 25px
		width: 28px
		margin-right: 10px
		margin-top: -3px
		background-position: -165px -172px !important
	a.active, a:hover
		.icon-banks
			background-position: 0 0px !important
			margin-top: -4px !important
		.icon-building-society
			background-position: 0 -58px !important
		.icon-telecommunication
			background-position: 0 -665px !important
		.icon-insurance
			background-position: 0 -550px !important
		.icon-local
			background-position: 0 -605px !important
		.icon-electricity-gas
			background-position: 0 -435px !important
		.icon-waste-collection
			background-position: 0 -719px !important
		.icon-financial-houses
			background-position: 0 -492px !important
		.icon-charity
			background-position: 0 -114px !important
		.icon-credit-unions
			background-position: 0 -172px !important

.table-simple
	[class^="icon-"], [class*=" icon-"]
		margin-right: 5px
	.icon-banks
		background-position:  -350px 0px !important
		margin-top: -4px !important
	.icon-building-society
		background-position:  -350px -58px !important
	.icon-telecommunication
		background-position:  -350px -665px !important
	.icon-insurance
		background-position: -350px -550px !important
	.icon-local
		background-position: -350px -605px !important
	.icon-electricity-gas
		background-position: -350px -435px !important
	.icon-waste-collection
		background-position: -350px -719px !important
	.icon-financial-houses
		background-position: -350px -492px !important
	.icon-charity
		background-position: -350px -114px !important
	.icon-credit-unions
		background-position: -350px -172px !important
	

.icon-white-pay-now
	background: url('../images/app-sprites.png') no-repeat 0 -1336px
	height: 25px
	width: 28px

.icon-white-not-paid
	background: url('../images/app-sprites.png') no-repeat 0 -1300px
	height: 25px
	width: 28px

/* green header icons */

.icon-white-mail
	background: url('../images/app-sprites.png') no-repeat 0 -1384px
	height: 25px
	width: 28px

.icon-white-settings
	background: url('../images/app-sprites.png') no-repeat 0 -1476px
	height: 25px
	width: 28px

.icon-white-profile
	background: url('../images/app-sprites.png') no-repeat 0 -1426px
	height: 25px
	width: 28px

.page-head
	input[type="text"].btn.input-icon-white-zoom
		background: url('../images/app-sprites.png') no-repeat 18px -1519px !important
		padding-left: 50px !important
		font-weight: 300
		text-align: left
		width: 170px
		cursor: text

.icon-white-small-cross
	background: url('../images/app-sprites.png') no-repeat 0 -1574px
	height: 19px
	width: 19px

.icon-white-small-tick
	background: url('../images/app-sprites.png') no-repeat 0 -1610px
	height: 19px
	width: 24px

.icon-white-small-edit
	background: url('../images/app-sprites.png') no-repeat 0 -1835px
	height: 19px
	width: 17px

.icon-white-small-document
	background: url('../images/app-sprites.png') no-repeat 0 -1883px
	height: 19px
	width: 19px


.profile-personal-details-input
	input
		color: #737373
		font-size: 14px
		font-weight: 300

input[type="text"].input-icon-light-personal
	background: url('../images/app-sprites.png') no-repeat 18px -1641px
	padding-left: 50px

input[type="text"].input-icon-light-password, input[type="password"].input-icon-light-password
	background: url('../images/app-sprites.png') no-repeat 18px -1683px
	padding-left: 50px

input[type="text"].input-icon-light-mail
	background: url('../images/app-sprites.png') no-repeat 18px -1726px
	padding-left: 50px

input[type="text"].input-icon-light-phone
	background: url('../images/app-sprites.png') no-repeat 18px -1770px
	padding-left: 50px


.icon-header-address
	background: url('../images/app-sprites.png') no-repeat 0 -1931px
	height: 20px

.icon-header-profile
	background: url('../images/app-sprites.png') no-repeat 0 -1986px
	width: 20px
	height: 20px

.icon-document-verified
	background: url('../images/app-sprites.png') no-repeat 0 -2220px
	width: 22px
	height: 24px

.icon-document-unverified
	background: url('../images/app-sprites.png') no-repeat 0 -2258px
	width: 22px
	height: 24px

.icon-document-default
	background: url('../images/app-sprites.png') no-repeat 0 -2185px
	width: 22px
	height: 24px

