.main
	padding-bottom: 100px
	padding-top: 28px

.main.form-page
	background: #e9e9e9

.rounded-border
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	border: 1px solid #dddddd

.navbar
	.brand 
		z-index: 70
		img
			display: block


.margin-bottom-0
	margin-bottom: 0px !important
.margin-bottom-10
	margin-bottom: 10px !important
.margin-bottom-20
	margin-bottom: 20px !important
.margin-bottom-30
	margin-bottom: 30px !important
.margin-bottom-50
	margin-bottom: 50px !important
.margin-bottom-70
	margin-bottom: 70px !important
.margin-right-10
	margin-right: 10px !important

@media (min-width: 1360px)
	.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
		width: 1170px

@media (min-width: 1280px)
	.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
		width: 1170px