.main.form-page
	padding-top: 70px
	padding-bottom: 50px
.main
	.login-wrapper
		position: relative
		-webkit-border-radius: 4px
		-moz-border-radius: 4px
		border-radius: 4px
		width: 550px
		margin: 0 auto
		padding-top: 60px
		padding-bottom: 10px
		margin-top: 00px
		float: none
		background: #fff
		label 
			font-size: 12px
			font-weight: normal
			margin-bottom: 2px
		form
			margin-bottom: 40px
		.form-group
			width: 324px
			margin: 0 auto
			margin-bottom: 20px
			input[type="text"]
				width: 260px
		.form-group.password
			width: 501px
		.step
			position: absolute
			height: 30px
			top: -25px
			right: 0
			background: #fff
			webkit-border-top-left-radius: 3px
			-webkit-border-top-right-radius: 3px
			-moz-border-radius-topleft: 3px
			-moz-border-radius-topright: 3px
			border-top-left-radius: 3px
			border-top-right-radius: 3px
			padding: 6px 24px
			font-weight: bold

@media (min-width: 1200px)
	.main
		.login-wrapper
			width: 700px

.main
	.login-wrapper 
		.form-group
		.password-table table
			border-spacing: 0

		.password-table .password-remind
			color: #9099a3
			font-size: 12px

		.password-table .icon
			background: white !important
			width: auto
			border: 0

		.password-table .icon div
			width: 34px
			height: 31px
			padding-top: 10px
			border-left: 1px solid #e0e5e9
			border-top: 1px solid #e0e5e9
			border-bottom: 1px solid #e0e5e9
			-webkit-border-top-left-radius: 4px
			-webkit-border-bottom-left-radius: 4px
			-moz-border-radius-topleft: 4px
			-moz-border-radius-bottomleft: 4px
			border-top-left-radius: 4px
			border-bottom-left-radius: 4px

		.password-table .legend td 
			color: #454e5c
			font-size: 12px

		.password-table .letters td
			margin: 0 !important
			padding: 0 !important

		.password-table .letters td input
			background: #f3f3f3

		.password-table .letters td:nth-child(2n+3) input
			background: #c6cacd

		.password-table .letters td:last-child input
			border-right: 1px solid #e0e5e9
			-webkit-border-top-right-radius: 4px
			-webkit-border-bottom-right-radius: 4px
			-moz-border-radius-topright: 4px
			-moz-border-radius-bottomright: 4px
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px

		.password-table .letters input:focus
			outline: none
			border-color: #e0e5e9

		.password-table .letters input
			width: 100% !important
			background: transparent
			border: 0
			padding: 0 !important
			text-align: center
			margin: 0
			border-top: 1px solid #e0e5e9
			border-bottom: 1px solid #e0e5e9
			-webkit-box-shadow: none
			-moz-box-shadow: none
			box-shadow: none
			-webkit-transition: none
			-moz-transition: none
			-o-transition: none
			transition: none
			height: 41px
			-webkit-border-radius: 0
			-moz-border-radius: 0
			border-radius: 0

		.password-table td
			text-align: center
