ul.tab-nav
	margin: 0 0 22px 0
	border: 1px solid #ddd
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	li
		list-style: none
		border-bottom: 1px solid #ddd
		a
			display: block
			height: 48px
			line-height: 48px
			padding-left: 32px
			font-size: 14px
			color: #727272
			.count
				font-size: 11px
		a:hover, a.active
			text-decoration: none
			color: #fff
			background: #7ab863
		a.active
			font-weight: bold
	li:last-child
		border-bottom: 0