.page-head
	height: 108px
	h1
		float: left
	.buttons
		margin-top: 38px
		float: right
		text-align: right
		.btn
			height: 20px
			line-height: 20px
			background: none
			border: 1px solid #fff
			color: #fff
			padding: 9px 17px
			margin-left: 27px
		.btn:hover
			border: 1px solid #fff
			padding: 9px 17px
		a.btn:hover
			text-decoration: underline
		input
			margin: 0
			height: auto

@media (max-width: 1200px)
	.page-head
		height: auto
		min-height: 108px
	.buttons
		margin-bottom: 28px


@media (max-width: 850px)
	.page-head
		.buttons
			margin-bottom: 28px
			.btn
				display: inherit
				margin-bottom: 10px