.pdf-preview
	border: 1px solid #ddd
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	margin-bottom: 17px
	.toolbar
		border-bottom: 1px solid #ddd
		height: 42px
	.content
		text-align: center
		padding: 20px 0


@media (min-width: 1200px)
	.envelopes-grid-onecolumn
		width: 450px
		margin-right: 20px