.providers-list-container 
	border: 5px solid #f3f3f3
	padding: 35px
	padding-bottom: 15px
	margin-top: 60px

.providers-list-action-bar
	padding: 0 40px
	padding-top: 35px

.providers-wrapper
	width: 500px
	margin: 0 auto
	float: none

.main 
	.providers-list-container 
		label
			color: #454545
		.accordion-heading
			margin-bottom: 10px
		.accordion-inner
			margin-bottom: 15px
		.providers-group .group-head 
			.icon
				background-image: url('../images/providers.png')
			.icon-banks
				background-position: 0 0px !important
				margin-top: -4px !important
			.icon-building-society
				background-position: 0 -58px !important
			.icon-telecommunication
				background-position: 0 -665px !important
			.icon-insurance
				background-position: 0 -550px !important
			.icon-local
				background-position: 0 -605px !important
			.icon-electricity-gas
				background-position: 0 -435px !important
			.icon-waste-collection
				background-position: 0 -719px !important
			.icon-financial-houses
				background-position: 0 -492px !important
			.icon-charity
				background-position: 0 -114px !important
			.icon-credit-unions
				background-position: 0 -172px !important
			.icon-utility
				background-position: 4px -845px !important
			.icon-popular-billers
				background-position: 3px -790px !important

		.provider-search
			input
				width: 388px !important
				border-bottom: 0
				border-right: 0
				border-left: 0
				-webkit-border-radius: 0px
				-moz-border-radius: 0px
				border-radius: 0px