.selectable-list
	border: 1px solid #d3d6da
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px
	height: 189px
	position: relative
	overflow: scroll
	overflow-x: hidden
	label
		display: block
		width: 100%
		border-bottom: 1px solid #d3d6da
		height: 38px
		line-height: 38px
		margin: 0 !important
		font-weight: 400 !important
		font-size: 14px
		color: #727272
		padding: 0 15px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	label:hover
		background: #f0f0f0
	label.ui-state-active
		background: #e0e0e0
	label:last-child
		border-bottom: 0
	.ui-button 
		text-align: left
		.ui-button-text
			display: inline

.selectable-list.show-5
	height: 189px
.selectable-list.show-6
	height: 227px
.selectable-list.show-7
	height: 265px