table[class*="span"] 
	display: table

table.table-padding
	td
		padding-left: 10px
		padding-right: 10px

table.table-simple
	td
		height: 48px
		border-bottom: 1px solid #dddddd
	tr:last-child
		td
			border-bottom: 0
	margin-bottom: 55px

table.table-two-coloured
	tr:nth-child(even)
		td
			background: #f0f0f0

table.table-center
	td, th
		text-align: center

td.bordered-cell-right
	border-bottom: 1px solid #dddddd
	border-top: 1px solid #dddddd
	border-right: 1px solid #dddddd
	-webkit-border-top-right-radius: 4px
	-webkit-border-bottom-right-radius: 4px
	-moz-border-radius-topright: 4px
	-moz-border-radius-bottomright: 4px
	border-top-right-radius: 4px
	border-bottom-right-radius: 4px

td.bordered-cell-left
	border: 1px solid #dddddd
	-webkit-border-top-left-radius: 4px
	-webkit-border-bottom-left-radius: 4px
	-moz-border-radius-topleft: 4px
	-moz-border-radius-bottomleft: 4px
	border-top-left-radius: 4px
	border-bottom-left-radius: 4px

td.background-cell 
	background: #f0f0f0

table.table-upload-row
	td
		height: 48px
	border-collapse: separate
	margin-bottom: 55px


table.table-upload-row
	.file-cell
		padding-left: 0
		padding-right: 0
		div
			position: relative
			white-space: nowrap
			overflow: hidden
			height: 48px
			width: 100%
			line-height: 48px
		.mask
			background: #7ab863
			position: absolute
			left: 0
			top: 0
			display: block
			height: 20px
			padding-top: 14px
			padding-bottom: 15px
			color: #fff
			line-height: 20px

table.table-menu
	td
		position: relative
		a
			width: 100%
			line-height: 50px
			display: block
			color: #737373
			height: 50px
			position: absolute
			top: 0
			left: 0
		a:hover
			text-decoration: none
			background: #7ab863
			color: #fff
		a.active
			background: #7ab863
			color: #fff
			font-weight: bold

table.datatable
	width: 100%
	td.first-col, th.first-col	
		border-right: 1px solid #dddddd
	td, th 
		text-align: center
		padding: 0 10px
		height: 48px
	tr:last-child td 
		border-bottom: 0
	th
		font-weight: normal
		font-size: 14px
		border-bottom: 1px solid #dddddd
	td
		font-size: 12px
	tr:nth-child(odd) td
		background: #f0f0f0

.no-border-left
	border-left: 0 !important



@media (min-width: 990px)
	table.table-upload-row
		a.btn
			width: 110px
