.main
	color: #737373
	h1, h2, h3, h4, h5
		color: #737373

.lead
	p
		font-size: 20px


.main
	p
		margin-bottom: 1.5em
	h1, h2, h3, h4, h5
		margin-bottom: 1em
	.page-title
		font-weight: 300
		font-size: 36px
		margin-bottom: 15px