body {
	min-width: 980px;
}

.navbar.navbar-white .nav.main-menu {
	margin-top: 15px;
	margin-bottom: 15px; 
	text-align: right;
	float: right;
}

.navbar.navbar-white .nav.main-menu li {
	display: inline;
	text-decoration: none;
	margin-left: 15px;
	border-left: 1px solid #e7e7e7;
	padding-left: 15px;
}

.navbar.navbar-white .nav.main-menu li:first-child {
	border-left: 0;
}

.navbar.navbar-white .nav.main-menu li a {
	color: #959595 !important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 !important;
	border: 0;
	height: auto;
}

.navbar.navbar-white .nav.main-menu a:hover {
	background: none !important;
	color: #959595 !important;
	text-decoration: underline;
}

.main-menu li {
	margin-left: 15px;
	padding-left: 15px;
}

.features-module .span4 {
	width: 295px;
}

.home-features-photo-2,
.home-features-photo-4 {
	margin-top: 60px;
	margin-bottom: 60px;
}

#overview img { margin-top: 150px; }
#easy_set_up img { margin-top: 200px; }
#just_one_login img { margin-top: 90px; }
#pay_bills img { margin-top: 50px; }
#free_cloud_storage img { margin-top: 90px; }
#intelligent_graphs img { margin-top: 90px; }
#security img { margin-top: 120px; }
#shared_accounts img { margin-top: 90px; }
#secure_vault img { margin-top: 50px; }
#how_is_it_free img { margin-top: 50px; }
#environment { margin-top: 50px;}
#environment img { margin-top: -10px; }
#stay_mobile { margin-top: 50px;}
#stay_mobile img { margin-top: -10px; }

/* ie7 only */

*+html .nav-list > li > a { 
    height: 40px;
    line-height: 37px;
}

*+html .navbar.navbar-white .nav.main-menu {
	white-space: nowrap;
	display: block;
	text-align: right;
}

*+html .navbar.navbar-white .nav.main-menu li {
	text-align: right;
}

*+html .navbar.navbar-white .clearfix {
	display: block;
	height: 50px;
}


