.form-container .form-body .styled-select {
  display: inline-block;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  /*background: url('../../img/arrow-select.jpg') no-repeat right */
  border: 1px solid #cccccc;
  background-color: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.password-table {
  margin-top: 0;
}

body {
	font-weight: 200;
	/*display: inline;
	position: relative;*/
	color: #737373;
	position: relative;
	min-width: 360px;
}

.bs-docs-sidenav {
	top: 40px;
	width: 220px;
}


#sidebar .home-formbox input[type="text"] {
	width: 95%;
}

#sidebar .home-formbox {
	margin-bottom: 30px;
}

@media (min-width: 1200px) {
	.bs-docs-sidenav {
		width: 270px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.bs-docs-sidenav {
		width: 166px;
	}

	#sidebar .home-formbox {
		width: 185px;
		margin-left: -20px;
		padding: 28px 15px;
	}

	#sidebar .home-formbox input[type="text"]  {
		width: 90%;
	}
}

@media (max-width: 767px) {
	#sidebar .bs-docs-sidenav {
		display: none;
	}
	.navbar .brand img {
		width: 250px;
	}
}

.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: -20px;
}

.features-module p {
	font-size: 16px;
	line-height: 1.6em;
	margin-bottom: 2em;
	margin-top: 1.5em;
}

.icon-header-user {
	background: url("../images/header-images.png") 0 -48px no-repeat !important;
}

a:hover .icon-header-user {
	background: url("../images/header-images.png") 0 0 no-repeat !important;
}

.icon-header-lock {
	background: url("../images/header-images.png") 1px -72px no-repeat !important;
}

a:hover .icon-header-lock {
	background: url("../images/header-images.png") 0 -24px no-repeat !important;
}

.navbar-static-top.navbar-white {
	background: none !important;
}

.navbar.navbar-white .nav.nav-login a:hover {
	background: #fff !important;
	color: #7ab863 !important;
	border-color: #7ab863;
}

.navbar.navbar-white .nav.nav-login a {
	color: #959595 !important;
	border: 1px solid #959595;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 15px 6px !important;
	height: auto;
}

.navbar.navbar-white .nav {
	border: 0;
	margin: 0;
}

.navbar.navbar-white .nav.nav-login li {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#slider {
	background: none;
}

#slider h1 {
	color: #959595;
}

#slider .home-video {
	background: url('../images/home-slider.jpg') no-repeat;
	width: 545px;
	height: 379px;
	position: relative;
}

#slider .home-video .play {
	width: 62px;
	display: block;
	opacity: 1;
	height: 62px;
	background: url('../images/play.png') no-repeat 0 -62px;
	cursor: pointer;
	position: absolute;
	left: 180px;
	top: 97px;
}

#slider .home-video .play:hover {
	background-position: 0 0;
}

.text-green {
	color: #7ab863;
}



.form-container {
	border-top: 2px solid #e7e7e7;
}

.form-container .form-box {
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 0;
	border-radius: 5px;
	border-top-right-radius: 0;
}

.navbar-white .navbar-inner {
border: 0;
min-height: 72px;
padding-top: 5px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.home-features h3 {
	font-size: 30px;
	color: #737373;
	font-weight: 200;
	margin-bottom: 20px;
}

.home-features p {
	font-size: 16px;
	line-height: 1.6em;
	margin-bottom: 2em;
}

.home-features > .row {
	margin: 30px 0 50px;
}

.home-features-photo-1 {
	float: right;
}

.home-features-photo-2 {
	margin-right: 30px;
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
}

.home-features-photo-3 {
	margin-left: 30px;
	margin-top: 10px;
	float: right;
}

.home-features-photo-4 {
	margin-right: 30px;
	float: left;
}

.home-features-photo-5 {
	margin-left: 30px;
	float: right;
}


.home-formbox {
	border: 3px solid #e0e0e0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 28px;
	margin-top: 7px;
}

.home-formbox input[type="text"] {
	width: 260px;
	border: 2px solid #e0e0e0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	font-weight: 200;
	color: #959595;
}

.home-formbox input[type="text"]:focus {
	border-color: #7ab863;
}

.home-formbox p {
	font-size: 18px;
}

.home-formbox .field {
	margin: 5px 0;
}

.home-formbox form {
	margin-top: 30px;
	margin-bottom: 0;
}

.home-formbox .form-submit {
	margin-bottom: 0;
	margin-top: 25px;
}

.text-detail, .home-formbox .text-detail {
	font-size: 12px;
	color: #959595;
}

.text-detail a {
	color: #959595;
	text-decoration: underline;
}

.text-detail a:hover {
	color: #333;
}

.home-formbox-container {
	width: 340px;
	margin-right: 30px;
	margin-bottom: 35px;
}

.home-text {
	margin-bottom: 30px;
}

.home-text p {
	font-size: 16px;
	line-height: 1.6em;
}


.page-header h1 small, .h1-small {
	color: #959595;
	font-size: 30px;
	top: 0px;
	position: relative;
	display: block;
}

.features-page .features-module {
	margin: 0;
	padding: 0;
}

.features-page .features-module p {
	font-size: 14px;
}

.separated-left {
	padding-left: 30px;
}

.text-left {
	text-align: left;
}

.features-page section {
	margin-top: 30px;
}

.features-page .features-module.last-module {
	padding-bottom: 130px;
}

.features-page .features-module.first-module {
	padding-top: 10px;
	margin-top: 0;
}

.vertical-center-container {
	display: block;
}

.foot-promo p {
	font-weight: 200;
	font-size: 24px;
	margin-bottom: 32px;
	line-height: 1.5em;
}

.foot-promo h3 {
	font-size: 40px;
	color: white;
	font-weight: 200;
	margin-bottom: 18px;
}

@media (min-width: 980px) {

	.navbar.navbar-white .nav.main-menu {
		margin-top: 15px;
		margin-bottom: 15px; 
		text-align: right;
	}

	.navbar.navbar-white .nav.main-menu li {
		display: inline;
		text-decoration: none;
		margin-left: 15px;
		border-left: 1px solid #e7e7e7;
		padding-left: 15px;
	}

	.navbar.navbar-white .nav.main-menu li:first-child {
		border-left: 0;
	}

	.navbar.navbar-white .nav.main-menu li a {
		color: #959595 !important;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 300;
		padding: 0 !important;
		border: 0;
		height: auto;
	}

	.navbar.navbar-white .nav.main-menu a:hover {
		background: none !important;
		color: #959595 !important;
		text-decoration: underline;
	}
}

.navbar .brand {
	position: relative;
	top: 25px;
	padding-bottom: 0;
}


.fat-spacer {
	width: 940px;
	height: 2px;
	background: #e7e7e7;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.fat-spacer {
		width: auto;
	}
	.navbar .brand { 
		top: 10px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.fat-spacer {
		width: 740px;
	}
}

@media (min-width: 979px)  {
	.main-menu li {
		margin-left: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 1200px) {
	.fat-spacer {
		width: 1170px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.home-features .span8, .home-text .span10 {
		width: auto;
	}

	.home-text .span10 {
		margin-left: 50px;
	}

	.home-features .span8 {
		margin-left: 0;
	}
}

@media (max-width: 979px) {

	

	.navbar.navbar-white .nav.main-menu a:hover {
		background: #fff !important;
		color: #7ab863 !important;
		border-color: #7ab863;
	}

	.navbar.navbar-white .nav.main-menu a {
		color: #959595 !important;
		border: 1px solid #959595;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 5px 15px 6px !important;
		height: auto;
	}

	.navbar.navbar-white .nav.main-menu li {
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.navbar .brand {
		position: relative;
		top: 0;
		padding-bottom: 0;
	}

}

@media (max-width: 767px) {
	#slider {
		height: auto;
	}
	#slider h1 {
		font-size: 30px;
	}
	.home-formbox-container {
		width: auto;
		margin-right: 0;
	}
	#slider h1 span:first-child {
		display: inline;
	}
	.home-features-photo-1 {
		float: none;
	}

	.home-features-photo-2 {
		float: none;
	}

	.home-features-photo-3 {
		float: none;
	}

	.home-features-photo-4 {
		float: none;
	}

	.home-features-photo-5 {
		float: none;
	}

}

@media (max-width: 979px) and (min-width: 768px) {
	.navbar-static-top.navbar-white .span12 {
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 979px) {
	.nav-collapse, .nav-collapse.collapse {
		padding-top: 25px;
	}
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
	color: #555;
	background-color: #e5e5e5;
	text-shadow: none;
	opacity: 1;
}

.menu-caret {
	opacity: 0.4;
	margin-top: 3px;
}

@media (max-width: 979px) and (min-width: 768px) {

	.home-formbox-container {
		display: block;
		margin: 0;
		width: 100%;
	}
	.home-formbox input[type="text"] {
		width: 94%;
	}
}

@media (max-width: 767px) {
	.home-formbox input[type="text"] {
		width: 96%;
	}
	#slider .home-video {
		margin: 20px auto;
	}
}

[class^="icon-"], [class*=" icon-"] {
	background-image: url("../img/glyphicons-halflings.png");
}

.input-icon-email {
	background-image: url("../img/input-email.png")
}
.input-icon-name {
	background-image: url("../img/input-name.png")
}

@media (max-width: 979px) {
	#slider .home-video {
		background: url('../images/home-slider-mobile.png') no-repeat;
		width: 313px;
		height: 420px;
		margin: 0 auto;
		margin-top: 30px;
	}

	#slider .home-video .play {
		display: none;
	}
}
