h1, h2, h3, h4, h5 
	color: #1a1d24

input:focus
	border-color: #509a34 

#location_map
	height: 468px
	width: 100%

.sidebar-page
	padding-top: 56px
	padding-bottom: 28px
	input.input-icon-email
		width: auto
	.form-container
		background: transparent

.sidebar-page > .row > .span9
	margin-left: 60px
	width: 660px
	color: #30353e
	ul
		margin-left: 5px
		li
			list-style-type: none
			padding-left: 20px
			background-image: url('../../img/li_pointer.png')
			background-repeat: no-repeat
			background-position: 0 5px

.light
	font-weight: 200 !important

@media (min-width: 1200px)
	.sidebar-page > .row > .span9
		margin-left: 60px
		width: 840px

@media (max-width: 979px) and (min-width: 768px)
	.sidebar-page
		input.input-icon-email
			width: 115px
	.sidebar-page > .row > .span9
		width: 498px

@media (max-width: 767px)
	.sidebar-page > .row > .span9
		width: 100%
		margin-left: 0
	.sidebar-page > .row > .span9 img
		max-width: 40%
	.page-head
		padding: 0 20px
	#footer
		padding: 0 20px
		.social
			position: absolute
			top: 38px
			right: 0

.sidebar-page > .row > .span9 > hr
	margin-top: 0

.icon-green-arrow-right
	background: url('../../img/icon-arrow-right.png') no-repeat !important
	width: 42px !important
	height: 41px !important

.btn-wider 
	padding:
		left: 30px !important
		right: 30px !important

.span-center 
	margin: 0 auto !important
	float: none !important

.page-head
	background: #7ab863
	color: white
	height: 107px
	
	h1 
		color: #fff
		font:
			weight: 200
			size: 38px
		line-height: 80px

@media (max-width: 379px)
	a.brand
		img
			width: 200px
			height: 29px
	.page-head
		background: #7ab863
		color: white
		height: 40px
		h1 
			color: #fff
			font:
				weight: 200
				size: 24px
			line-height: 24px
.navbar-static-top
	background: #242424 !important

.foot-promo
	margin-top: 10px
	padding-top: 18px
	background: #7ab863
	color: white
	h3 
		font-size: 32px
		color: #fff
		font-weight: 200
		margin-bottom: 18px
	p
		font-weight: 200
		font-size: 18px
		margin-bottom: 32px

.page-header
	margin-top: -10px
	h1
		line-height: 1em
		font-size: 55px
		small
			line-height: 1em
			font-size: 55px
			font-weight: 200
			font-size: inherit
			color: #1a1d24

.video-container
	padding-top: 29px
	padding-left: 117px
	position: relative
	width: 698px
	height: 400px
	margin: 0 auto
	background: url("../../img/video-frame.png") no-repeat
#slider
	background: url('../../img/top.jpg') no-repeat top center
	position: relative
	.container
		min-height: 570px
	h1
		color: #FFF
	.video-container
		bottom: -25px
	.smartphone-container
		position: relative
		bottom: 0px
		width: 303px
		height: 420px
		margin: 0 auto
		left: 0
		right: 0
		background: url("../../img/smartphone.png") no-repeat
		position: absolute
		bottom: 0
@media (min-width: 768px)
	#slider
		text-align: left
		margin-bottom: 45px
		h1
			color: white
			padding-top: 50px
			height: 80px
		.container
			min-height: 570px
@media (max-width: 767px)
	#slider
		height: 120px
		background-position: 0 0
		padding-top: 40px
		h1
			span:first-child
				display: none
		.video-container
			display: none
		.smartphone-container
			display: none
@media (max-width: 360px)
	#slider
		height: 100px
		padding-top: 20px
		h1
			font-size: 2.0em
#sidebar
	.sidebar-container
		margin:
			bottom: 24px
		padding: 0 8px
	.nav.sidebar-container
		padding:
			left: 15px
			right: 15px
		margin-bottom: 36px
		.nav
			padding-right: 0
	.nav-header
		margin-top: 0
	.twitter-feed
		padding-bottom: 10px
.twitter-feed
	padding-top: 4px
	p 
		font-weight: 200
		font-size: 14px
		line-height: 1.6em
		color: #454e5c
		a
			color: #068fd5
		a:hover
			color: #068fd5
	.date
		color: #8e959c
		font-size: 12px
		margin-bottom: 2px

.home-icon
	width: 81px
	height: 82px
	margin: 4px 15px 4px 0px
	background: url('../../img/home-icons.png') no-repeat 0 0
.leaf-icon
	background-position: 0 0
.wallet-icon
	background-position: 0 -290px
.key-icon
	background-position: 0 -96px
.feather-icon
	background-position: 0 -198px
.leaf-icon.active
	background-position: -99px 0
.wallet-icon.active
	background-position: -99px -290px
.key-icon.active
	background-position: -99px -96px
.feather-icon.active
	background-position: -99px -198px
		
.home-boxes
	margin-top: 20px
	border-bottom: 1px solid #e8eaeb
	.home-box
		margin-bottom: 40px
		a
			color: inherit
			display: inline-block
		a:hover
			text-decoration: none
		a:focus
			text-decoration: none
		span.link
			color: #509a34
			i
				margin-top: 3px
		span.link:hover
			text-decoration: underline
			cursor: pointer
	.home-box.active
		.wallet-icon 
			background-position: -99px -290px
		.key-icon
			background-position: -99px -96px
		.feather-icon
			background-position: -99px -198px
		.leaf-icon
			background-position: -99px 0

.lead-container
	border-bottom: 1px solid #e8eaeb
	padding:
		top: 40px
		bottom: 30px
	a, a:hover
		color: #509a34
		text-decoration: none
	a:hover
		opacity: 0.8

.clients-container
	padding: 
		top: 40px
		bottom: 40px
	p
		float: left
	.clients
		margin-left: 110px
		margin-right: 20px
	table
		width: 100%
	a
		opacity: 0.5
	a:hover 
		opacity: 1

.navbar
	.nav
		border-right: 1px solid #858585

		a
			border-left: 1px solid #858585
			padding: 20px 25px 10px !important
			height: 33px
			color: #fff !important
		a:hover
			background: #191919 !important
		.icon-white
			width: 20px
			height: 18px
		.icon-briefcase
			background: url('../../img/top-bar-icons.png') 0 0 no-repeat !important
		.icon-user
			background: url('../../img/top-bar-icons.png') -154px 0 no-repeat !important
		.icon-lock
			background: url('../../img/top-bar-icons.png') -287px 0 no-repeat !important

.input-icon-email
	background: url('../../img/input-email.png') 11px center no-repeat
	padding-left: 40px !important

.input-icon-name
	background: url('../../img/input-name.png') 11px center no-repeat
	padding-left: 40px !important

#footer 
	font-size: 12px
	background: #242424
	color: #8e959c
	a
		background: none
		color: #8e959c
		display: inline
	a:hover
		color: #fff
		text-decoration: none
	.container
		.social
			text-align: right
			.facebook 
				margin-left: 5px
				text-indent: 9999px
				background: url('../../img/social.png') -40px 0 no-repeat
				display: inline-block
				height: 18px
				width: 20px
				cursor: pointer
				overflow: hidden
				position: relative

			.twitter 
				text-indent: 9999px
				background: url('../../img/social.png') 0 0 no-repeat
				display: inline-block
				height: 18px
				width: 20px
				cursor: pointer
				overflow: hidden
				position: relative

		.copyright
			position: absolute
			right: 0px
			bottom: 35px
			text-align: right
		position: relative
		padding:
			top: 35px
			bottom: 35px
	.nav
		.list-head
			color: #fff
			text-transform: uppercase

#modal_login form
	input[type=submit]
		margin-top: 10px
	text-align: center

.location-map-container 
	position: relative
	img
		max-width: none
	.inner-map-container
		position: absolute
		bottom: 22px
		left: 0
		width: 100%
		word-wrap: break-word
		.info-box
			background: #898988
			background: rgba(137, 137, 136, 0.9)
			color: #fff
			display: inline-block
			font-size: 16px
			font-weight: 200
			line-height: 1.4em
			padding: 25px 25px
			a
				color: #fff
				text-decoration: underline
.page-container
	padding: 56px 0 90px
.form-container
	background: #f3f3f3
	.step
		float: right
		-webkit-border-top-left-radius: 3px
		-webkit-border-top-right-radius: 3px
		-moz-border-radius-topleft: 3px
		-moz-border-radius-topright: 3px
		border-top-left-radius: 3px
		border-top-right-radius: 3px
		background: #fff
		padding: 6px 24px
		font-weight: bold
		color: #27313d
	.form-box
		position: relative
		background: #fff
		-webkit-border-radius: 3px
		-webkit-border-top-right-radius: 0
		-moz-border-radius: 3px
		-moz-border-radius-topright: 0
		border-radius: 3px
		border-top-right-radius: 0
	.form-title 
		font-size: 18px
		color: #27313d
	.form-body 
		label
			font-size: 13px
			color: #454e5c
			margin-bottom: 3px
		padding:
			left: 50px
			right: 50px
			top: 20px
			bottom: 10px
		input[type=text], input[type=password], input[type=email]
			width: 96%
			padding:
				left: 2%
				right: 2%
		input[type="checkbox"], input[type="radio"]
			margin-bottom: 3px
		input[type=submit]
			margin-top: 20px
		input[type=submit].inline
			margin-left: 20px
			margin-top: 0px
		.styled-select
			display: inline-block
			height: 28px
			padding: 4px 0px
			color: #555555
			vertical-align: middle
			-webkit-border-radius: 2px
			-moz-border-radius: 2px
			border-radius: 2px
			overflow: hidden
			/*background: url('../../img/arrow-select.jpg') no-repeat right*/
			border: 1px solid #ccc
			background-color: #ffffff
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s
			-moz-transition: border linear 0.2s, box-shadow linear 0.2s
			-o-transition: border linear 0.2s, box-shadow linear 0.2s
			transition: border linear 0.2s, box-shadow linear 0.2s
			select
				background: transparent
				line-height: 1.6
				border: 0
				border-radius: 0
				height: 35px

textarea
	padding: 10px 15px

.contact-page
	textarea
		color: #8e959c
		width: 100%
		height: 150px
		box-sizing: border-box
		-moz-box-sizing: border-box
		-webkit-box-sizing: border-box
	textarea:focus
		color: #555
	margin-bottom: 50px
	h2
		margin-bottom: 30px
	h2, h3
		font-weight: 200
	.twitter-feed
		h3
			background: url('../../img/twitter-blue.png') no-repeat right 12px
			display: inline-block
			padding-right: 30px
		background: #f1efeb
		padding: 25px 40px

.password-table
	display: inline-block
	margin-top: 15px
	.password-remind 
		color: #9099a3
	.icon 
		float: left
		padding-top: 10px
		padding-left: 10px
		width: 26px
		height: 31px
		display: block
		border: 1px solid #e0e5e9
		-webkit-border-top-left-radius: 4px
		-webkit-border-bottom-left-radius: 4px
		-moz-border-radius-topleft: 4px
		-moz-border-radius-bottomleft: 4px
		border-top-left-radius: 4px
		border-bottom-left-radius: 4px
		display: inline-block
		background: #fff !important
	.letters
		.charbox
			float: left
			display: inline-block
			input[type="password"]
				background: #f3f3f3
			input[type="text"]:disabled
				background: #c6cacd
			p
				text-align: center
				font-size: 0.8em
		.charbox:last-child
			input
				border-right: 1px solid #e0e5e9
				-webkit-border-top-right-radius: 4px
				-webkit-border-bottom-right-radius: 4px
				-moz-border-radius-topright: 4px
				-moz-border-radius-bottomright: 4px
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
	input:focus
		outline: none
		border-color: #e0e5e9
	input
		width: 17px !important
		height: 41px
		background: transparent
		padding: 0 !important
		text-align: center
		margin: 0
		border: 1px solid #e0e5e9
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none
		-webkit-transition: none
		-moz-transition: none
		-o-transition: none
		transition: none
		-webkit-border-radius: 0
		-moz-border-radius: 0
		border-radius: 0

p.lead
	line-height: 1.4em
	color: #454e5c
	font-weight: 200
	strong
		font-weight: bold

u
	text-decoration: none
	color: #7ab863


@media screen and (min-width: 900px)
	.vertical-center-container
		display: table
		margin-left: 0

	.vertical-center-element
		display: table-cell
		vertical-align: middle
		float: none

	.vertical-bottom-element
		display: table-cell
		vertical-align: bottom
		float: none
		text-align: center

.form-body
	.file-reader
		height: 300px
		overflow: auto
		border: 2px groove #AAA
		margin: 5px auto
		padding: 10px
		background-color: #FFF
.form-body
	.cloud-msg 
		height: 40px
		width: 150px
		text-align: center
		opacity: 0.9
		font-size: 0.8em
		padding: 5px 
		border: 2px #eed3d7 solid
		color: #b94a48
		background-color: #f2dede
		position: absolute
		display: none
		-webkit-border-radius: 10px
		-moz-border-radius: 10px
		border-radius: 10px
	input[type="checkbox"],	input[type="radio"]
		margin-right: 0.6em
	.select-all-checkbox
		margin-top: 15px

.providers-group
	border: 0
	margin-bottom: 6px
	.accordion-inner
		border: 1px solid #d3d6da
		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px
		padding: 0
		margin-bottom: 3px
	.pre-scrollable
		height: 168px
	.group-head:hover
		border-bottom-width: 4px
	.group-head
		display: block
		text-align: left
		line-height: 30px
		margin-bottom: 5px
		.counter
			float: right
		.icon
			height: 25px
			width: 28px
			margin-right: 15px
			margin-top: -2px
			background: url("../../img/providers.png") no-repeat
	.provider-select 
		.provider
			margin: 0
			padding: 4px 18px
			cursor: pointer
			font-size: 12px
			input[type=checkbox]
				display: none
		.provider:hover
			background: #f1f1f1
		.provider.selected
			background: #e1e1e1
	.search.no-matches
		background: #fffeed
	.search
		margin: 0
		border: 0
		border-top: 1px solid #d3d6da
		font-size: 12px
		padding: 3px 18px
		width: 341px !important
		padding-left: 18px !important
		padding-right: 12px !important
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: inset 0
		-webkit-transition: border none
		-moz-transition: border none
		-o-transition: border none
		transition: border none
	.search:focus
		border: 0
		border-top: 1px solid #d3d6da
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: inset 0
		-webkit-transition: border none
		-moz-transition: border none
		-o-transition: border none
		transition: border none

.icon-banks
	background-position: 0 0px !important
	margin-top: -4px !important

.icon-building_society
	background-position: 0 -58px !important

.icon-telecommunication
	background-position: 0 -665px !important

.icon-insurance_companies
	background-position: 0 -550px !important

.icon-local_authorities
	background-position: 0 -605px !important

.icon-electricity___gas_suppliers
	background-position: 0 -435px !important

.icon-waste_collection
	background-position: 0 -719px !important

.icon-financial_houses
	background-position: 0 -492px !important

.icon-charity
	background-position: 0 -114px !important

.icon-credit_unions
	background-position: 0 -172px !important

.error-container 
	background: #e3e3e3
	.error-box
		padding: 20px 68px 25px
		color: #454545
		background: #fff
		-webkit-border-radius: 30px
		-webkit-border-bottom-left-radius: 0
		-moz-border-radius: 30px
		-moz-border-radius-bottomleft: 0
		border-radius: 30px
		border-bottom-left-radius: 0
		position: relative
	.quote-arrow
		background: url('../../img/quote-arrow.png') no-repeat
		width: 68px
		height: 39px
		padding-bottom: 50px
	.big-logo 
		background: url('../../img/big-smile.png') no-repeat
		width: 159px
		height: 124px
		position: absolute
		bottom: -100px
		left: -188px

/*	## Bootstrap fix ## */

body
	color: #454E5C
body > .alert
	margin-bottom: 0
	text-align: center
a[name]
	color: inherit
a[name]:hover
	text-decoration: none
form
	.help-block
		font-size: 0.8em
		color: #555E6C
	.form-actions
		input.btn
			line-height: 20px
		a.btn
			margin-top: 20px
			line-height: 20px
select
	margin-bottom: 0px
.text-justify
	text-align: justify
.location-map-container 
	img
		max-width: none

.pagerfanta
	text-align: center
	.pagination
		.next
			a
				width: 100px
		.prev
			a
				width: 100px
		ul
			li
				background-image: none !important

/* White icons with optional class, or on hover/focus/active states of certain elements */

.icon-green
	background-image: url('../../img/glyphicons-halflings-green.png')
