            <div id="footer">
	<div class="container">
		<div class="row">
			<div class="span2">
				<ul class="nav">
					<li class="list-head">Main</li>
					<li><a href="/">Start Here</a></li>
					<li><a href="/overview">Easy set up</a></li>
					<li><a href="/features">Features</a></li>
					<li><a href="/help">Help</a></li>
				</ul>
			</div>
			<div class="span2">
				<ul class="nav">
					<li class="list-head">Client area</li>
					<li><a href="/register/">Sign up</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/contact">Contact us</a></li>
				</ul>
			</div>
			<!--<div class="span2">
				<ul class="nav">
					<li class="list-head">Get App</li>
					<li><a href="#">App Store</a></li>
					<li><a href="#">Google Play</a></li>
				</ul>
			</div>-->
			<!-- 
			<div class="span6">
				<div class="social">
					<a class="twitter">twitter</a>
					<a class="facebook">facebook</a>
				</div>
			</div>
			 -->
		</div>
		<div class="copyright">
			&copy; GreenLetterbox Ltd.<br />
			<a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a>
		</div>
	</div>
</div>        

    <!--[if lte IE 9]> 
    <script type="text/javascript" src="ie.js"></script>
    <![endif]-->

