<% if @new_menu.nil? %>
  <div class="navbar navbar-static-top navbar-white">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="span12">


            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              Menu
              <span class="icon-chevron-down menu-caret"></span>
            </button>
            <a class="brand" href="<%= root_path %>">
              <img src="<%= asset_path "images/logo-bigger.png" %>" />
            </a>
            <div class="nav-collapse collapse">
              <ul class="nav nav-login">
                <% unless @header_icons.nil? %>
                  <li><a href="/register/"><i class="icon-mailing icon-white"></i> Mailing</a></li>
                <% end %>
                <li><a href="/register/"><i class="icon-header-user icon-white"></i> Sign up</a></li>
                <li><a href="#"><i class="icon-header-lock icon-white"></i> Login</a></li>
                <% unless @header_icons.nil? %>
                <li><a href="#"><i class="icon-header-lockout icon-white"></i> Logout</a></li>
                <% end %>
              </ul>
              <div class="clearfix"></div>
              <ul class="main-menu nav">
                <li><a href="#">Overview</a></li>
                <li><a href="#">Set up</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Environment</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>


<!-- new header -->

  <div class="navbar new-navbar navbar-static-top navbar-white">
    <div class="navbar-inner">
      <div class="container">
        <div class="row">
          <div class="span12">


            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              Menu
              <span class="icon-chevron-down menu-caret"></span>
            </button>
            <div class="brand-container">
              <a class="beta" href="#"><img src="<%= asset_path "images/beta.png" %>" /></a>
              <a class="brand" href="<%= root_path %>">
                <img src="<%= asset_path "images/logo.png" %>" />
              </a>
            </div>
            <div class="nav-collapse collapse">
              <ul class="nav nav-login">
                <li><a href="/register/"><i class="icon-header-address"></i> Claim your address</a></li>
                <li><a href="#">
                  <i class="icon-header-profile"></i>
                  Login
                </a></li>
              </ul>
              <ul class="main-menu nav">
                <li class="active"><a href="#">Setup</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Environment</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>