<!DOCTYPE html>
<html>
<head>
  <title>GlbWebApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600" rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
	<!--[if lte IE 8]> 
	  <%= stylesheet_link_tag    "ie", :media => "all" %>
	<![endif]--> 
</head>
<body>

	<%= render :partial => '/layouts/header' %>

	<%= yield %>

	<%= render :partial => '/layouts/footer' %>

</body>
</html>
